# Ramadan Abdunabi
## Week4 - 02/11/2025 - 02/13/2025
### Python - Dictionaries, {}, dict()

- Dictionary is a collection that is unordered and changeable.
- Changeable - Can change, add or remove items after the dictionary is created.
- Dictionaries store data values in key:value pairs.
- No Duplicates - Cannot have two items with the same key

In [1]:
d = {'key1':'value1', 'key2':'value2', 'key3':'value4'}
d

{'key1': 'value1', 'key2': 'value2', 'key3': 'value4'}

In [2]:
type(d)

dict

In [3]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [4]:
d.values()

dict_values(['value1', 'value2', 'value4'])

In [5]:
d.items()

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value4')])

In [6]:
d = {'brand':"Toyota",'model':'Prius','year':2025, 'vin':123456}
d

{'brand': 'Toyota', 'model': 'Prius', 'year': 2025, 'vin': 123456}

In [7]:
d['brand']

'Toyota'

In [8]:
d['year']

2025

In [9]:
d['vin']

123456

In [10]:
d['vin'] = 555555

In [11]:
d

{'brand': 'Toyota', 'model': 'Prius', 'year': 2025, 'vin': 555555}

In [12]:
d

{'brand': 'Toyota', 'model': 'Prius', 'year': 2025, 'vin': 555555}

In [13]:
d['color'] = 'red'

In [14]:
d

{'brand': 'Toyota',
 'model': 'Prius',
 'year': 2025,
 'vin': 555555,
 'color': 'red'}

In [15]:
d.keys()

dict_keys(['brand', 'model', 'year', 'vin', 'color'])

In [16]:
d.values()

dict_values(['Toyota', 'Prius', 2025, 555555, 'red'])

In [17]:
d.items()

dict_items([('brand', 'Toyota'), ('model', 'Prius'), ('year', 2025), ('vin', 555555), ('color', 'red')])

In [18]:
d.pop('vin')

555555

In [19]:
d

{'brand': 'Toyota', 'model': 'Prius', 'year': 2025, 'color': 'red'}

In [21]:
d.popitem()

('color', 'red')

In [22]:
d

{'brand': 'Toyota', 'model': 'Prius', 'year': 2025}

In [23]:
#data types
cis_dict = {'no':10, 'cis':[200,240,340,350,360], 'crn':{'001','003','006','009'}}

In [24]:
cis_dict

{'no': 10,
 'cis': [200, 240, 340, 350, 360],
 'crn': {'001', '003', '006', '009'}}

In [25]:
cis_dict['cis']

[200, 240, 340, 350, 360]

In [27]:
cis_dict['cis'][-2:]

[350, 360]

In [29]:
cis_dict

{'no': 10,
 'cis': [200, 240, 340, 350, 360],
 'crn': {'001', '003', '006', '009'}}

In [36]:
cis_dict['cis'].extend([400,413])

In [37]:
cis_dict

{'no': 10,
 'cis': [200, 240, 340, 350, 360, 400, 413, 400, 413],
 'crn': {'001', '003', '006', '009'}}

In [38]:
cis_dict['cis'].append([400,413])

In [39]:
cis_dict

{'no': 10,
 'cis': [200, 240, 340, 350, 360, 400, 413, 400, 413, [400, 413]],
 'crn': {'001', '003', '006', '009'}}

In [40]:
cis_dict['cis'].insert(1,400)

In [41]:
cis_dict

{'no': 10,
 'cis': [200, 400, 240, 340, 350, 360, 400, 413, 400, 413, [400, 413]],
 'crn': {'001', '003', '006', '009'}}

In [42]:
cis_dict['cis'].count(400)

3

In [43]:
cis_dict['ins'] = ('Ramadan','Nick','Jon','Leo')
cis_dict

{'no': 10,
 'cis': [200, 400, 240, 340, 350, 360, 400, 413, 400, 413, [400, 413]],
 'crn': {'001', '003', '006', '009'},
 'ins': ('Ramadan', 'Nick', 'Jon', 'Leo')}

In [1]:
d = dict()

In [2]:
d['fruit'] = 'Apple'

In [3]:
d

{'fruit': 'Apple'}

In [4]:
d['number'] = 5

In [5]:
d

{'fruit': 'Apple', 'number': 5}

In [6]:
d['taste'] = ('Sour','Sweet','Salty','Bitter')

In [7]:
d

{'fruit': 'Apple', 'number': 5, 'taste': ('Sour', 'Sweet', 'Salty', 'Bitter')}

In [8]:
d['words'] = {'hello','hello','where','where','who','who','who'}

In [9]:
d

{'fruit': 'Apple',
 'number': 5,
 'taste': ('Sour', 'Sweet', 'Salty', 'Bitter'),
 'words': {'hello', 'where', 'who'}}

In [10]:
d['words'] = 'hello'

In [11]:
d

{'fruit': 'Apple',
 'number': 5,
 'taste': ('Sour', 'Sweet', 'Salty', 'Bitter'),
 'words': 'hello'}

In [14]:
d['number'] = list(range(5,50,5))

In [15]:
d

{'fruit': 'Apple',
 'number': [5, 10, 15, 20, 25, 30, 35, 40, 45],
 'taste': ('Sour', 'Sweet', 'Salty', 'Bitter'),
 'words': 'hello'}

In [18]:
d['fruit'] = d

In [19]:
d

{'fruit': {...},
 'number': [5, 10, 15, 20, 25, 30, 35, 40, 45],
 'taste': ('Sour', 'Sweet', 'Salty', 'Bitter'),
 'words': 'hello',
 'fruits': {...}}

In [20]:
d['fruit']

{'fruit': {...},
 'number': [5, 10, 15, 20, 25, 30, 35, 40, 45],
 'taste': ('Sour', 'Sweet', 'Salty', 'Bitter'),
 'words': 'hello',
 'fruits': {...}}

In [22]:
#  built-in functions
# remove item from dict
d = {'brand': 'Toyota', 'model': 'Prius', 'year': 2025}

In [23]:
d

{'brand': 'Toyota', 'model': 'Prius', 'year': 2025}

In [24]:
len(d)

3

In [25]:
d.popitem()

('year', 2025)

In [26]:
d

{'brand': 'Toyota', 'model': 'Prius'}

In [27]:
d['color'] = 'red'

In [28]:
d

{'brand': 'Toyota', 'model': 'Prius', 'color': 'red'}

In [29]:
d.pop('brand')

'Toyota'

In [30]:
d

{'model': 'Prius', 'color': 'red'}

In [31]:
del d['model']

In [32]:
d

{'color': 'red'}

In [33]:
d['brand'] = 'BMW'

In [34]:
d

{'color': 'red', 'brand': 'BMW'}

In [35]:
d['year'] = 2025

In [36]:
d

{'color': 'red', 'brand': 'BMW', 'year': 2025}

In [37]:
# get()
d['color']

'red'

In [38]:
d.get('color')

'red'

In [39]:
d['vin']

KeyError: 'vin'

In [40]:
d.get('vin')

In [41]:
d.get('vin', 0)

0

In [42]:
d.get('vin', False)

False

In [43]:
d

{'color': 'red', 'brand': 'BMW', 'year': 2025}

In [44]:
d.get('color', False)

'red'

In [45]:
# using copy()
d1 = d

In [46]:
d1

{'color': 'red', 'brand': 'BMW', 'year': 2025}

In [47]:
d['vin'] = 123456

In [48]:
d

{'color': 'red', 'brand': 'BMW', 'year': 2025, 'vin': 123456}

In [49]:
d1

{'color': 'red', 'brand': 'BMW', 'year': 2025, 'vin': 123456}

In [50]:
d.pop('brand')

'BMW'

In [51]:
d

{'color': 'red', 'year': 2025, 'vin': 123456}

In [52]:
d1

{'color': 'red', 'year': 2025, 'vin': 123456}

In [53]:
d1 = d.copy()

In [54]:
d1

{'color': 'red', 'year': 2025, 'vin': 123456}

In [55]:
d

{'color': 'red', 'year': 2025, 'vin': 123456}

In [56]:
d.pop('vin')

123456

In [57]:
d

{'color': 'red', 'year': 2025}

In [58]:
d1

{'color': 'red', 'year': 2025, 'vin': 123456}

In [60]:
# rename keys
fruits = {'apple': 10, 'banana': 12, 'orange': 11}
fruits

{'apple': 10, 'banana': 12, 'orange': 11}

In [61]:
fruits.keys()

dict_keys(['apple', 'banana', 'orange'])

In [62]:
fruits.values()

dict_values([10, 12, 11])

In [63]:
fruits.items()

dict_items([('apple', 10), ('banana', 12), ('orange', 11)])

In [64]:
fruits

{'apple': 10, 'banana': 12, 'orange': 11}

In [65]:
fruits['pear'] = fruits.pop('banana')

In [66]:
fruits

{'apple': 10, 'orange': 11, 'pear': 12}

In [67]:
fruits

{'apple': 10, 'orange': 11, 'pear': 12}

In [68]:
fruits['cherry'] = fruits['apple']
fruits.pop('apple')

10

In [69]:
fruits

{'orange': 11, 'pear': 12, 'chery': 10}

In [70]:
fruits['cherry'] = fruits.pop('chery')

In [71]:
fruits

{'orange': 11, 'pear': 12, 'cherry': 10}

In [72]:
# nested dictionaries
d = {'k1' : {1:{'one':10}, 2:{'two': 15, 2:{'three': [10,20,30]}}}, 'a':{10.5: ('a','b')} }

In [73]:
d

{'k1': {1: {'one': 10}, 2: {'two': 15, 2: {'three': [10, 20, 30]}}},
 'a': {10.5: ('a', 'b')}}

In [74]:
len(d)

2

In [75]:
d['k1']

{1: {'one': 10}, 2: {'two': 15, 2: {'three': [10, 20, 30]}}}

In [76]:
d['a']

{10.5: ('a', 'b')}

In [77]:
d['a'][10.5]

('a', 'b')

In [78]:
d['a'][10.5][0]

'a'

In [79]:
d

{'k1': {1: {'one': 10}, 2: {'two': 15, 2: {'three': [10, 20, 30]}}},
 'a': {10.5: ('a', 'b')}}

In [80]:
d['k1']

{1: {'one': 10}, 2: {'two': 15, 2: {'three': [10, 20, 30]}}}

In [81]:
d['k1'][2]

{'two': 15, 2: {'three': [10, 20, 30]}}

In [82]:
d['k1'][2][2]['three']

[10, 20, 30]

In [83]:
d['k1'][2][2]['three'][-1]

30

In [84]:
d['k1'][2][2]['three']

[10, 20, 30]

In [85]:
d['k1'][2][2]['three'].append(40)

In [86]:
d

{'k1': {1: {'one': 10}, 2: {'two': 15, 2: {'three': [10, 20, 30, 40]}}},
 'a': {10.5: ('a', 'b')}}

In [87]:
d['k1'][2][2]['three'][0] = 100

In [88]:
d

{'k1': {1: {'one': 10}, 2: {'two': 15, 2: {'three': [100, 20, 30, 40]}}},
 'a': {10.5: ('a', 'b')}}

In [89]:
d['k1'][2][2]['three'].pop()

40

In [90]:
myFamily = {
    'child1': {'name':'Jen','DoB':'01/01/2000'},
    'child2': {'name':'Alice','DoB':'06/01/2004'},
    'child3': {'name':'Bob','DoB':'10/16/2008'},
    'spouse': {'name': 'Jon', 'DoB':'12/20/1978','MD':'08/08/1998'}
}

In [91]:
len(myFamily)

4

In [92]:
myFamily['child1']

{'name': 'Jen', 'DoB': '01/01/2000'}

In [93]:
myFamily['child1']['DoB']

'01/01/2000'

In [94]:
myFamily['child1']['DoB'].split('/')

['01', '01', '2000']

In [95]:
myFamily

{'child1': {'name': 'Jen', 'DoB': '01/01/2000'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'child3': {'name': 'Bob', 'DoB': '10/16/2008'},
 'spouse': {'name': 'Jon', 'DoB': '12/20/1978', 'MD': '08/08/1998'}}

In [96]:
myFamily['spouse']['MD']

'08/08/1998'

In [97]:
myFamily['spouse']['MD'] = '08/10/1998'

In [98]:
myFamily

{'child1': {'name': 'Jen', 'DoB': '01/01/2000'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'child3': {'name': 'Bob', 'DoB': '10/16/2008'},
 'spouse': {'name': 'Jon', 'DoB': '12/20/1978', 'MD': '08/10/1998'}}

In [99]:
# casting data structure
ls = [1,2,3,4,5,(10,20,30),['a','b','c']]
ls

[1, 2, 3, 4, 5, (10, 20, 30), ['a', 'b', 'c']]

In [100]:
t = tuple(ls)
t

(1, 2, 3, 4, 5, (10, 20, 30), ['a', 'b', 'c'])

In [101]:
t = (1,2,3,4,5,('a','b',True))
t

(1, 2, 3, 4, 5, ('a', 'b', True))

In [102]:
ls = list(t)
ls

[1, 2, 3, 4, 5, ('a', 'b', True)]

In [103]:
t

(1, 2, 3, 4, 5, ('a', 'b', True))

In [104]:
s = set(t)
s

{('a', 'b', True), 1, 2, 3, 4, 5}

In [105]:
s = set(ls)
s

{('a', 'b', True), 1, 2, 3, 4, 5}

In [107]:
ls = [1,2,3,4,[10,20]]
ls

[1, 2, 3, 4, [10, 20]]

In [108]:
s = set(ls)
s

TypeError: unhashable type: 'list'

In [110]:
# cast to dictionary
ls

[1, 2, 3, 4, [10, 20]]

In [111]:
d = dict(ls)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [112]:
t

(1, 2, 3, 4, 5, ('a', 'b', True))

In [113]:
d = dict(t)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [114]:
s = {1,2,3,4,5}
s

{1, 2, 3, 4, 5}

In [115]:
d = dict(s)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [117]:
keys = ['key1', 'key2', 'key3']
values = ['value1', 'value2', 'value3']
list(zip(keys,values))

[('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')]

In [119]:
d = dict(zip(keys,values))
d

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [120]:
lst = list(zip(keys,values))
lst

[('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')]

In [121]:
d = dict(lst)
d

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}