# Ramadan Abdunabi
## Week 3 - 09/03/2024
### Python Built-in Data Structures - Python Lists []

## List Notes
- Lists are used to store multiple items in a single variable.
- Lists are created using square brackets or list() constructor
- List items are indexed, the first item has index [0]
- lists are ordered
- The list is changeable: add, delete, and update items

In [15]:
my_lst = [50,30,20.5,100,90,10,30,50]

In [2]:
my_lst

[50, 30, 20.5, 100, 90, 10, 30, 50]

In [3]:
type(my_lst)

list

In [4]:
my_lst[0]

50

In [5]:
my_lst[-1]

50

In [6]:
my_lst[-2]

30

In [7]:
len(my_lst)

8

In [17]:
my_lst = [50,89,90,'Alice','Bob','Jen', True, False,5.5,10.15]

In [18]:
my_lst[5]

'Jen'

In [19]:
len(my_lst)

10

In [20]:
fruits = ['Apple','Banana', 'Cherry','Kiwi']

In [21]:
fruits[-1]

'Kiwi'

In [22]:
fruits[0]

'Apple'

In [23]:
fruits[2]

'Cherry'

In [24]:
my_lst

[50, 89, 90, 'Alice', 'Bob', 'Jen', True, False, 5.5, 10.15]

In [25]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [26]:
#slicing
#[Start:End:Step]
my_lst[1:5]

[89, 90, 'Alice', 'Bob']

In [27]:
my_lst[:]

[50, 89, 90, 'Alice', 'Bob', 'Jen', True, False, 5.5, 10.15]

In [28]:
fruits[-4:]

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [29]:
fruits[-3:-1]

['Banana', 'Cherry']

In [30]:
fruits[::-1]

['Kiwi', 'Cherry', 'Banana', 'Apple']

In [31]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [32]:
my_lst[2:7]

[90, 'Alice', 'Bob', 'Jen', True]

In [33]:
my_lst[2:7:2]

[90, 'Bob', True]

In [34]:
# add a new elemnet 
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [35]:
fruits + ['Orange']

['Apple', 'Banana', 'Cherry', 'Kiwi', 'Orange']

In [36]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [37]:
fruits = fruits + ['Orange']

In [38]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi', 'Orange']

In [39]:
# update item in the list
fruits[1] = 'Mango'

In [40]:
fruits

['Apple', 'Mango', 'Cherry', 'Kiwi', 'Orange']

In [41]:
fruits[-1] = 12

In [42]:
fruits

['Apple', 'Mango', 'Cherry', 'Kiwi', 12]

In [51]:
# delete an item from a list
del fruits[-1]

In [52]:
fruits

[]

In [54]:
fruits = ['Apple', 'Banana', 'Cherry', 'Kiwi', 'Orange']

In [55]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi', 'Orange']

In [56]:
# double the list
fruits * 2

['Apple',
 'Banana',
 'Cherry',
 'Kiwi',
 'Orange',
 'Apple',
 'Banana',
 'Cherry',
 'Kiwi',
 'Orange']

In [57]:
# Use the built-in function
fruits.append('Banana')

In [58]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi', 'Orange', 'Banana']

In [59]:
fruits.append(13)

In [60]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi', 'Orange', 'Banana', 13]

In [61]:
lst = [12,10,14,15,16]

In [62]:
fruits.extend(lst)

In [63]:
fruits

['Apple',
 'Banana',
 'Cherry',
 'Kiwi',
 'Orange',
 'Banana',
 13,
 12,
 10,
 14,
 15,
 16]

In [64]:
len(fruits)

12

In [65]:
fruits.append([1,2,3])

In [66]:
fruits

['Apple',
 'Banana',
 'Cherry',
 'Kiwi',
 'Orange',
 'Banana',
 13,
 12,
 10,
 14,
 15,
 16,
 [1, 2, 3]]

In [67]:
fruits[-1]

[1, 2, 3]

In [68]:
fruits.pop()

[1, 2, 3]

In [69]:
fruits

['Apple',
 'Banana',
 'Cherry',
 'Kiwi',
 'Orange',
 'Banana',
 13,
 12,
 10,
 14,
 15,
 16]

In [70]:
fruits.pop(1)

'Banana'

In [71]:
fruits

['Apple', 'Cherry', 'Kiwi', 'Orange', 'Banana', 13, 12, 10, 14, 15, 16]

In [72]:
fruits.remove('Kiwi')

In [73]:
fruits

['Apple', 'Cherry', 'Orange', 'Banana', 13, 12, 10, 14, 15, 16]

In [75]:
char_lst = ['t','a','m', 'b','m','n']

In [76]:
char_lst.sort()

In [77]:
char_lst

['a', 'b', 'm', 'm', 'n', 't']

In [78]:
fruits

['Apple', 'Cherry', 'Orange', 'Banana', 13, 12, 10, 14, 15, 16]

In [79]:
fruits[::-1]

[16, 15, 14, 10, 12, 13, 'Banana', 'Orange', 'Cherry', 'Apple']

In [80]:
fruits

['Apple', 'Cherry', 'Orange', 'Banana', 13, 12, 10, 14, 15, 16]

In [81]:
fruits.reverse()

In [82]:
fruits

[16, 15, 14, 10, 12, 13, 'Banana', 'Orange', 'Cherry', 'Apple']

In [2]:
fruits = ['Banana', 'Orange', 'Cherry', 'Apple']

In [3]:
# insert()
fruits.insert(2,'Mango')

In [4]:
fruits

['Banana', 'Orange', 'Mango', 'Cherry', 'Apple']

In [5]:
fruits.remove('Apple')

In [6]:
fruits

['Banana', 'Orange', 'Mango', 'Cherry']

In [7]:
fruits.rempve('Limon')

AttributeError: 'list' object has no attribute 'rempve'

In [8]:
# in
fruits

['Banana', 'Orange', 'Mango', 'Cherry']

In [9]:
'Mango' in fruits

True

In [10]:
'Limon' in fruits

False

In [11]:
# concatenating, +
[4,None,'foo'] + [2,8,'Red',10.95]

[4, None, 'foo', 2, 8, 'Red', 10.95]

In [12]:
new_lst = [4,None,'foo'] + [2,8,'Red',10.95]

In [13]:
new_lst

[4, None, 'foo', 2, 8, 'Red', 10.95]

In [14]:
new_lst.extend([1,2,3,4,5])

In [15]:
new_lst

[4, None, 'foo', 2, 8, 'Red', 10.95, 1, 2, 3, 4, 5]

In [16]:
new_lst * 2

[4,
 None,
 'foo',
 2,
 8,
 'Red',
 10.95,
 1,
 2,
 3,
 4,
 5,
 4,
 None,
 'foo',
 2,
 8,
 'Red',
 10.95,
 1,
 2,
 3,
 4,
 5]

In [17]:
fruits

['Banana', 'Orange', 'Mango', 'Cherry']

In [18]:
fruits.sort()

In [19]:
fruits

['Banana', 'Cherry', 'Mango', 'Orange']

In [20]:
fruits.sort(key=len)

In [21]:
fruits

['Mango', 'Banana', 'Cherry', 'Orange']

In [22]:
len('Hello')

5

In [23]:
len(fruits)

4

In [24]:
# range() function, range(start, stop[, step]) 
range(10)

range(0, 10)

In [25]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
lst = list(range(10))

In [27]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
lst = list(range(10,21))
lst

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [29]:
lst = list(range(10,41,1))
lst

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40]

In [30]:
lst = list(range(10,41,2))
lst

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [31]:
lst[-1]

40

In [32]:
lst[1:5]

[12, 14, 16, 18]

In [33]:
# Nested list, and Access to a Nested List
lst1 = list(range(10,31,10))
lst2 = list(range(30,61,10))
lst3= list(range(60,91,10))

In [34]:
lst1

[10, 20, 30]

In [35]:
lst2

[30, 40, 50, 60]

In [36]:
lst3

[60, 70, 80, 90]

In [38]:
nested_list = [lst1,lst2,lst3]
nested_list

[[10, 20, 30], [30, 40, 50, 60], [60, 70, 80, 90]]

In [39]:
len(nested_list)

3

In [40]:
nested_list[0]

[10, 20, 30]

In [41]:
nested_list[-1]

[60, 70, 80, 90]

In [42]:
nested_list

[[10, 20, 30], [30, 40, 50, 60], [60, 70, 80, 90]]

In [43]:
nested_list[0][1]

20

In [44]:
nested_list[-1][-1]

90

In [45]:
nested_list[-2][-2:]

[50, 60]

In [46]:
nested_list[1][2:]

[50, 60]

In [47]:
lst =['a', 'b', ['aa', 'bb', ['ddd','eee']],'f','g',[20,30,40] ]
lst

['a', 'b', ['aa', 'bb', ['ddd', 'eee']], 'f', 'g', [20, 30, 40]]

In [48]:
len(lst)

6

In [49]:
lst[1]

'b'

In [50]:
lst[2]

['aa', 'bb', ['ddd', 'eee']]

In [51]:
lst

['a', 'b', ['aa', 'bb', ['ddd', 'eee']], 'f', 'g', [20, 30, 40]]

In [52]:
len(lst[2])

3

In [53]:
lst

['a', 'b', ['aa', 'bb', ['ddd', 'eee']], 'f', 'g', [20, 30, 40]]

In [54]:
lst[2][2]

['ddd', 'eee']

In [55]:
lst[2][2][-1]

'eee'

In [56]:
lst

['a', 'b', ['aa', 'bb', ['ddd', 'eee']], 'f', 'g', [20, 30, 40]]

In [57]:
lst[-1]

[20, 30, 40]

In [58]:
lst[-1].append(50)

In [59]:
lst

['a', 'b', ['aa', 'bb', ['ddd', 'eee']], 'f', 'g', [20, 30, 40, 50]]

In [60]:
lst[2][-1].insert(0,'ccc')

In [61]:
lst

['a', 'b', ['aa', 'bb', ['ccc', 'ddd', 'eee']], 'f', 'g', [20, 30, 40, 50]]

In [62]:
lst[-1].remove(20)

In [63]:
lst

['a', 'b', ['aa', 'bb', ['ccc', 'ddd', 'eee']], 'f', 'g', [30, 40, 50]]

In [64]:
lst[2].pop(0)

'aa'

In [65]:
lst

['a', 'b', ['bb', ['ccc', 'ddd', 'eee']], 'f', 'g', [30, 40, 50]]

In [66]:
lst[-1].append(['Red','Blue','Green'])

In [67]:
lst

['a',
 'b',
 ['bb', ['ccc', 'ddd', 'eee']],
 'f',
 'g',
 [30, 40, 50, ['Red', 'Blue', 'Green']]]

In [68]:
lst[-1]

[30, 40, 50, ['Red', 'Blue', 'Green']]

In [69]:
lst[-1][-1]

['Red', 'Blue', 'Green']

In [70]:
lst

['a',
 'b',
 ['bb', ['ccc', 'ddd', 'eee']],
 'f',
 'g',
 [30, 40, 50, ['Red', 'Blue', 'Green']]]

In [71]:
lst.append(list(range(10,41,5)))

In [72]:
lst

['a',
 'b',
 ['bb', ['ccc', 'ddd', 'eee']],
 'f',
 'g',
 [30, 40, 50, ['Red', 'Blue', 'Green']],
 [10, 15, 20, 25, 30, 35, 40]]

In [73]:
# zip “pairs” up the elements of a number of lists in tuples
lst1 = ['Banana', 'Orange', 'Mango', 'Cherry']
lst2 = [10.5,11.8,12,14]

In [74]:
lst1

['Banana', 'Orange', 'Mango', 'Cherry']

In [75]:
lst2

[10.5, 11.8, 12, 14]

In [80]:
zipped_list = zip(lst1,lst2)

In [81]:
lst = list(zipped_list)
lst

[('Banana', 10.5), ('Orange', 11.8), ('Mango', 12), ('Cherry', 14)]

In [82]:
lst[0]

('Banana', 10.5)

In [83]:
type(lst[0])

tuple

In [84]:
zipped_list2 = list(zip([1,2,3],[10,20,30,40]))
zipped_list2

[(1, 10), (2, 20), (3, 30)]

In [86]:
print(zip([1,2,3],[10,20,30,40]))

<zip object at 0x000002411786AEC8>

In [87]:
tuple(zip([1,2,3],[10,20,30,40]))

((1, 10), (2, 20), (3, 30))