# Ramadan Abdunabi
## Week8 - 03/11/2025 - 03/13/2025
### Python - lambda function, higher-order functions: map(), filter(), and reduce()

**A lambda function is a small anonymous function.**
**A lambda function can take any number of arguments, but can only have one expression.**
**An anonymous function is a function that is defined without a name.**
**lambda keyword**
**It is used when a function is needed temporarily for a short period of time.**
**It is used inside another function such as filter, map and reduce.**

<code> lambda arguments : expression <code/>

In [1]:
def double(num):
    return num * 2

double(5)

10

In [3]:
double = lambda x:x * 2
double(4)

8

In [6]:
def larger(a,b):
    if a > b:
        return a
    else:
        return b
        
larger(5,8)

8

In [7]:
larger = lambda a,b : a if a > b else b
larger(5,3)

5

**higher-order functions, such as map(), filter(), and reduce()**

- It contains other functions as a parameter or returns a function as an output
- Allows you to process and transform all the items in an iterable without using an explicit for loop

In [9]:
#map() -> map(function, iterable[, iterable1, iterable2,..., iterableN])
# returns map() object 
def square(number):
    return number ** 2

lst = list(range(1,21))
print(lst)

s = [square(n) for n in lst]
print(s)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [13]:
set(map(square, lst))

{1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400}

In [15]:
my_lst = list(map(lambda x:x ** 2, lst))
my_lst

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [16]:
# using for loop, no need to cast to a list
for item in map(square,lst):
    print (item)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [17]:
names = ["Alice", "Bob", "Charlie"]
lst = [len(x) for x in names]
lst

[5, 3, 7]

In [19]:
list(map(lambda n:len(n),names))

[5, 3, 7]

In [2]:
#map()
from random import random
txns = [random() * 50 for _ in range(10)]
TAX_RATE = .08

def get_price_with_tax(txn):
    return round(txn * (1 + TAX_RATE),2)

final_prices = [get_price_with_tax(value) for value in txns]
final_prices

[5.54, 42.33, 47.19, 28.17, 38.03, 10.22, 9.11, 11.66, 42.85, 19.99]

In [3]:
final_prices = list(map(get_price_with_tax,txns))
final_prices

[5.54, 42.33, 47.19, 28.17, 38.03, 10.22, 9.11, 11.66, 42.85, 19.99]

In [4]:
#lambda
final_prices = list(map(lambda x : round(x * (1 + TAX_RATE),2), txns))
final_prices

[5.54, 42.33, 47.19, 28.17, 38.03, 10.22, 9.11, 11.66, 42.85, 19.99]

In [5]:
#string
#evenwords('Ford') -> 'EVEN'
#evenwords('BMW') -> 'BM'

def evenwords(word):
    if len(word) % 2 == 0:
        return 'EVEN'
    else:
        return word[:2]

evenwords('Ford')

'EVEN'

In [6]:
evenwords('BMW')

'BM'

In [7]:
cars = ["Ford", "Nissan", "GMC", "Mazda","Dodge", "BMW"]
list(map(evenwords,cars))

['EVEN', 'EVEN', 'GM', 'Ma', 'Do', 'BM']

In [8]:
list(map(lambda word: 'EVEN' if len(word)%2==0 else word[:2],cars))

['EVEN', 'EVEN', 'GM', 'Ma', 'Do', 'BM']

In [12]:
fahrenheit = [int(random() * 120) for _ in range(10)]
fahrenheit

[65, 14, 84, 36, 7, 95, 95, 74, 25, 23]

In [15]:
def to_celsius(f):
    return int((5/9)*(f-32))

In [16]:
to_celsius(65)

18

In [17]:
celsius = list(map(to_celsius,fahrenheit))
celsius

[18, -10, 28, 2, -13, 35, 35, 23, -3, -5]

In [18]:
# lambda
celsius = list(map(lambda f: int((5/9)*(f-32)), fahrenheit))
celsius

[18, -10, 28, 2, -13, 35, 35, 23, -3, -5]

In [21]:
#Dictionary
fahrenheit_dt = {'t' + str(i): int(random() * 120) for i in range(1,11)}
fahrenheit_dt

{'t1': 33,
 't2': 21,
 't3': 12,
 't4': 23,
 't5': 53,
 't6': 67,
 't7': 79,
 't8': 112,
 't9': 32,
 't10': 56}

In [23]:
celsius_dt = {k: to_celsius(v) for (k,v) in fahrenheit_dt.items()}
celsius_dt

{'t1': 0,
 't2': -6,
 't3': -11,
 't4': -5,
 't5': 11,
 't6': 19,
 't7': 26,
 't8': 44,
 't9': 0,
 't10': 13}

In [25]:
celsius = list(map(to_celsius,fahrenheit_dt.values()))
celsius

[0, -6, -11, -5, 11, 19, 26, 44, 0, 13]

In [26]:
celsius_dt = dict(zip(fahrenheit_dt.keys(),celsius))
celsius_dt

{'t1': 0,
 't2': -6,
 't3': -11,
 't4': -5,
 't5': 11,
 't6': 19,
 't7': 26,
 't8': 44,
 't9': 0,
 't10': 13}

In [27]:
#filter()
# Extracts elements from an iterable (list, tuple etc.) 
# for which a function returns True.
#Syntax: filter(function, iterable) 
def even(num):
    return num%2==0

even(4)

True

In [28]:
nums = [int(random() * 20) for _ in range(10)]
nums

[18, 7, 7, 18, 6, 18, 14, 8, 17, 17]

In [31]:
evens = list(filter(even,nums))
evens

[18, 18, 6, 18, 14, 8]

In [32]:
evens = list(filter(lambda x: x%2 == 0,nums))
evens

[18, 18, 6, 18, 14, 8]

In [39]:
import random
import string

letters = random.choices(string.ascii_letters.lower(),k=10)
letters

['o', 'u', 't', 'n', 'k', 'd', 'p', 'h', 'g', 'e']

In [40]:
def filter_vowels(letter):
    return letter in "aeiou"

filter_vowels('a')

True

In [41]:
vowels = list(filter(filter_vowels,letters))
vowels

['o', 'u', 'e']

In [42]:
vowels = list(filter(lambda letter: letter in "aeiou", letters))
vowels

['o', 'u', 'e']

In [44]:
names = ["Alan", "Jon", "Zlatan", "Bob", "Tara", "Bria", "Ryan", "Koby"]
vowels = list(filter(lambda name: name[0].lower() in "aeiou", names))
vowels

['Alan']

In [47]:
# reduce()
#Syntax: reduce(function, iterable[, initializer]) 
#import functools
from functools import reduce

nums = list(range(1,6))
print(nums)

def prod(x,y):
    return x * y

product= reduce(prod,nums)
product

[1, 2, 3, 4, 5]

120

In [48]:
product= reduce(lambda x,y: x * y, nums)
product

120

In [51]:
product= reduce(lambda x,y: x * y, nums, 2)
product

240

In [52]:
max_num = reduce(lambda x,y: x if x> y else y,nums)
max_num

5

In [53]:
# map vs filter
evens = list(filter(lambda x: x%2 == 0,nums))
evens

[2, 4]

In [54]:
evens = list(map(lambda x: x%2 == 0,nums))
evens

[False, True, False, True, False]

In [55]:
evens = list(map(lambda x: 'EVEN' if x%2 == 0 else 'ODD',nums))
evens

['ODD', 'EVEN', 'ODD', 'EVEN', 'ODD']