# Ramadan Abdunabi
## wk5 09/19/2024
### Python Statements [if,else,elif]

**the format of the if-statement**

```
if condition:
   perform action(s)
   
if condition:
   perform action(s)
else:
   perform action(s)
   
   
if condition1:
   perform action1
elif condition2:
   perform action2
else:
    perform action3   

```

In [1]:
# if statement
if 5 > 4:
    print("Yes, 5 is gtreater than 4!")

Yes, 5 is gtreater than 4!

In [3]:
# using else
if 5 < 4:
    print("Yes, 5 is gtreater than 4!")
else:
    print("No, 4 is gtreater than 5!")

No, 4 is gtreater than 5!

In [5]:
value = 5
if value == 5:
    print("Hi Five!")
else:
    print("Let's try again!")

Hi Five!

In [6]:
test1 = 98
test2 = 87
if test1 < test2:
    print("You may redo test1")
else:
    print("You may redo test2")

You may redo test2

In [7]:
if test1 < test2:
print("You may redo test1")

IndentationError: expected an indented block (<ipython-input-7-8b7105680b5e>, line 2)

In [14]:
#if-elif statement
test1 = int(input('Test1 score: '))
test2 = int(input('Test2 score: '))

if test1 > test2:
    print(f"test1 {test1} is greater than test2 {test2}")
    print(f"You may think to redo test2 {test2}!")
elif test2 > test1:
    print(f"test2 {test2} is greater than test1 {test1}")
    print(f"you may think about redoing test1 {test1}, instead")
else:
    print(f"test1 {test1} and test2 {test2} scores are equal!")

Test1 score: 80
Test2 score: 84
test2 84 is greater than test1 80
you may think about redoing test1 80, instead

In [15]:
# One-Line if Statements
if test2 > test1: print(f'test2 {test2} is greater than test1 {test1}')

test2 84 is greater than test1 80

In [17]:
if 'c' in 'cis': print('3',end=''); print('1',end=''); print('0',end='')

310

In [19]:
#short Hand if ... Else
print(f'test1 {test1}') if test1 > test2 else print(f'test2 {test2}')

test2 84

In [23]:
raining = True
print("Let's head out ", 'for a run' if not raining else 'to the rec center')

Let's head out  to the rec center

In [24]:
age = 12
print('minor' if age < 21 else 'adult')

minor

In [25]:
#and, or
s1, s2,s3 = 89, 75, 92
if (s1 > s2) and (s3 > s2):
    print('Both conditions are evaluated to True!')

Both conditions are evaluated to True!

In [28]:
#or logical operator
if (s1 > s2) or (s3 < s2):
    print("At least one of the conditions is evaluated to True!")

At least one of the conditions is evaluated to True!

In [34]:
#Nested if statement
if s1 > 40:
    print('s1 is above 40!')
    if s1 > 60:
        print('s1 is above 60!')
        if s1 > 80:
            print('s1 is above 80!')
            if s1 > 90:
                print('s1 is above 90')
            else:
                #print('s1 is below 90!')
                pass

s1 is above 40!
s1 is above 60!
s1 is above 80!

In [35]:
# easy way to use built in functions,instead of if statement
names = {'Fred': 'Hello Fred', 'Rama': 'Hello Rama', 
         'Joe': 'Hello Joe', 'Alice': 'Hello Alice'}

In [36]:
names

{'Fred': 'Hello Fred',
 'Rama': 'Hello Rama',
 'Joe': 'Hello Joe',
 'Alice': 'Hello Alice'}

In [37]:
type(names)

dict

In [40]:
print(names['Jen'])

KeyError: 'Jen'

In [41]:
'Joe' in names

True

In [44]:
print(names['Jen'] if 'Jen' in names else  "I don't know who you are!")

I don't know who you are!

In [47]:
print(names.get('Jen', "I don't know who you are!"))

I don't know who you are!

In [48]:
names.keys()

dict_keys(['Fred', 'Rama', 'Joe', 'Alice'])

In [49]:
names.values()

dict_values(['Hello Fred', 'Hello Rama', 'Hello Joe', 'Hello Alice'])

In [50]:
names.items()

dict_items([('Fred', 'Hello Fred'), ('Rama', 'Hello Rama'), ('Joe', 'Hello Joe'), ('Alice', 'Hello Alice')])

In [53]:
t = tuple(names.items())
t

(('Fred', 'Hello Fred'),
 ('Rama', 'Hello Rama'),
 ('Joe', 'Hello Joe'),
 ('Alice', 'Hello Alice'))

In [54]:
t[0]

('Fred', 'Hello Fred')

In [55]:
t[0][1]

'Hello Fred'

In [56]:
t

(('Fred', 'Hello Fred'),
 ('Rama', 'Hello Rama'),
 ('Joe', 'Hello Joe'),
 ('Alice', 'Hello Alice'))

In [57]:
('Fred', 'Hello Fred') in t

True

In [58]:
('Joe', 'Hello Joe') in t

True

In [59]:
('Jen', 'Hello Jen') in t

False

In [60]:
lst1 = list(range(21))
lst2 = list(range(20,41))

In [61]:
lst1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [62]:
lst2

[20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40]

In [63]:
lst = list(zip(lst1,lst2))
lst

[(0, 20),
 (1, 21),
 (2, 22),
 (3, 23),
 (4, 24),
 (5, 25),
 (6, 26),
 (7, 27),
 (8, 28),
 (9, 29),
 (10, 30),
 (11, 31),
 (12, 32),
 (13, 33),
 (14, 34),
 (15, 35),
 (16, 36),
 (17, 37),
 (18, 38),
 (19, 39),
 (20, 40)]

In [65]:
(2,22) in lst

True

In [66]:
(19,39) in lst

True

In [67]:
s = {1,2,3,4,5,6}
s

{1, 2, 3, 4, 5, 6}

In [68]:
2 in s

True

In [69]:
5 in s

True

In [70]:
55 in s

False