# Ramadan Abdunabi
## Week3 - 02/4/2025 - 02/06/2025
### Built-in Data Structures - Python Lists

- Pythonâ€™s data structures are simple but powerful.
- Lists are used to store multiple items in a single variable.
- Lists are created using square brackets
- List items are indexed
- The list is changeable: change, add, and remove items in a list after it has been created.

In [1]:
lst = [10, 15, 20, 30]
lst

[10, 15, 20, 30]

In [2]:
type(lst)

list

In [3]:
lst = [10, True, 5.5, 'Alice', 'Bob', 'A', 100, 50, False]
lst

[10, True, 5.5, 'Alice', 'Bob', 'A', 100, 50, False]

In [4]:
len(lst)

9

In [5]:
fruits = ['Apple','Banana', 'Cherry','Kiwi']
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [6]:
type(fruits)

list

In [7]:
# Indexing
lst[0]

10

In [8]:
lst[2]

5.5

In [9]:
lst[-1]

False

In [10]:
lst

[10, True, 5.5, 'Alice', 'Bob', 'A', 100, 50, False]

In [11]:
lst[-2]

50

In [12]:
type(lst[-1])

bool

In [13]:
type(lst[0])

int

In [14]:
fruits[1]

'Banana'

In [15]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [16]:
# slicing
# [start:end:step]
lst

[10, True, 5.5, 'Alice', 'Bob', 'A', 100, 50, False]

In [17]:
lst[0:3]

[10, True, 5.5]

In [18]:
lst[-3:]

[100, 50, False]

In [19]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [20]:
fruits[::2]

['Apple', 'Cherry']

In [21]:
lst

[10, True, 5.5, 'Alice', 'Bob', 'A', 100, 50, False]

In [23]:
lst[::3]

[10, 'Alice', 100]

In [24]:
lst[2::2]

[5.5, 'Bob', 100, False]

In [25]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [26]:
fruits[::-1]

['Kiwi', 'Cherry', 'Banana', 'Apple']

In [27]:
lst[::-1]

[False, 50, 100, 'A', 'Bob', 'Alice', 5.5, True, 10]

In [28]:
lst

[10, True, 5.5, 'Alice', 'Bob', 'A', 100, 50, False]

In [29]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [30]:
fruits = fruits[::-1]

In [31]:
fruits

['Kiwi', 'Cherry', 'Banana', 'Apple']

In [33]:
# add a new elemnet
fruits + ['Orange']

['Kiwi', 'Cherry', 'Banana', 'Apple', 'Orange']

In [34]:
fruits + ['Orange', 'Banana']

['Kiwi', 'Cherry', 'Banana', 'Apple', 'Orange', 'Banana']

In [35]:
fruits

['Kiwi', 'Cherry', 'Banana', 'Apple']

In [36]:
fruits = fruits + ['Orange', 'Banana']

In [37]:
fruits

['Kiwi', 'Cherry', 'Banana', 'Apple', 'Orange', 'Banana']

In [38]:
# chnage item
lst

[10, True, 5.5, 'Alice', 'Bob', 'A', 100, 50, False]

In [39]:
lst[0] = 'Welcome'

In [40]:
lst

['Welcome', True, 5.5, 'Alice', 'Bob', 'A', 100, 50, False]

In [41]:
lst[-1] = 'CIS310'

In [42]:
lst

['Welcome', True, 5.5, 'Alice', 'Bob', 'A', 100, 50, 'CIS310']

In [43]:
# double the list
fruits

['Kiwi', 'Cherry', 'Banana', 'Apple', 'Orange', 'Banana']

In [44]:
fruits * 2

['Kiwi',
 'Cherry',
 'Banana',
 'Apple',
 'Orange',
 'Banana',
 'Kiwi',
 'Cherry',
 'Banana',
 'Apple',
 'Orange',
 'Banana']

In [45]:
fruits

['Kiwi', 'Cherry', 'Banana', 'Apple', 'Orange', 'Banana']

In [48]:
# Use the built-in function
# append()
fruits.append(5.5)

In [49]:
fruits

['Kiwi', 'Cherry', 'Banana', 'Apple', 'Orange', 'Banana', 5.5, 5.5]

In [50]:
#extend()
lst

['Welcome', True, 5.5, 'Alice', 'Bob', 'A', 100, 50, 'CIS310']

In [51]:
lst.extend(fruits)

In [52]:
lst

['Welcome',
 True,
 5.5,
 'Alice',
 'Bob',
 'A',
 100,
 50,
 'CIS310',
 'Kiwi',
 'Cherry',
 'Banana',
 'Apple',
 'Orange',
 'Banana',
 5.5,
 5.5]

In [53]:
lst.extend(['CIS310','CIS340'])

In [54]:
lst

['Welcome',
 True,
 5.5,
 'Alice',
 'Bob',
 'A',
 100,
 50,
 'CIS310',
 'Kiwi',
 'Cherry',
 'Banana',
 'Apple',
 'Orange',
 'Banana',
 5.5,
 5.5,
 'CIS310',
 'CIS340']

In [55]:
lst.append(['CIS310','CIS340'])

In [56]:
lst

['Welcome',
 True,
 5.5,
 'Alice',
 'Bob',
 'A',
 100,
 50,
 'CIS310',
 'Kiwi',
 'Cherry',
 'Banana',
 'Apple',
 'Orange',
 'Banana',
 5.5,
 5.5,
 'CIS310',
 'CIS340',
 ['CIS310', 'CIS340']]

In [57]:
lst[-1]

['CIS310', 'CIS340']

In [58]:
# pop an item
lst.pop()

['CIS310', 'CIS340']

In [59]:
lst

['Welcome',
 True,
 5.5,
 'Alice',
 'Bob',
 'A',
 100,
 50,
 'CIS310',
 'Kiwi',
 'Cherry',
 'Banana',
 'Apple',
 'Orange',
 'Banana',
 5.5,
 5.5,
 'CIS310',
 'CIS340']

In [60]:
lst.pop(0)

'Welcome'

In [61]:
lst.pop(25)

IndexError: pop index out of range

In [62]:
len(lst)

18

In [2]:
lst = ['a', 'b', 15, 'c', 5.5,'d', 'e', 10]

In [3]:
del lst[-1]

In [4]:
lst

['a', 'b', 15, 'c', 5.5, 'd', 'e']

In [5]:
char_lst = ['c','r','a','e','b']

In [6]:
char_lst

['c', 'r', 'a', 'e', 'b']

In [7]:
#sort
char_lst.sort() # in place

In [8]:
char_lst

['a', 'b', 'c', 'e', 'r']

In [9]:
# reverse()
char_lst[::-1]

['r', 'e', 'c', 'b', 'a']

In [10]:
char_lst

['a', 'b', 'c', 'e', 'r']

In [11]:
char_lst.reverse() # in place

In [12]:
char_lst

['r', 'e', 'c', 'b', 'a']

In [13]:
lst

['a', 'b', 15, 'c', 5.5, 'd', 'e']

In [14]:
lst.insert(1,'red')

In [15]:
lst

['a', 'red', 'b', 15, 'c', 5.5, 'd', 'e']

In [19]:
lst.insert(len(lst),500)

In [20]:
lst

['a', 'red', 'b', 15, 'c', 5.5, 'd', 500, 'e', 500]

In [21]:
# remove()
lst.remove('c')

In [22]:
lst

['a', 'red', 'b', 15, 5.5, 'd', 500, 'e', 500]

In [23]:
# in
5.5 in lst

True

In [24]:
'e' in lst

True

In [25]:
'aa' in lst

False

In [26]:
message = 'Welcome to CIS310, I am using Python to learn data analysis!'

In [28]:
message

'Welcome to CIS310, I am using Python to learn data analysis!'

In [29]:
'to' in message

True

In [31]:
'Python' in message

True

In [32]:
'Java' in message

False

In [35]:
'python' in message.lower()

True

In [36]:
lst = [7, 2, 5, 1, 3]

In [37]:
lst.sort()

In [38]:
lst

[1, 2, 3, 5, 7]

In [39]:
lst = ['saw', 'small', 'He', 'foxes', 'six']

In [40]:
lst.sort()

In [41]:
lst

['He', 'foxes', 'saw', 'six', 'small']

In [42]:
lst.sort(key=len)

In [43]:
lst

['He', 'saw', 'six', 'foxes', 'small']

In [45]:
# range function, range(start, stop[, step])
r = range(10)

In [46]:
r

range(0, 10)

In [47]:
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
lst = list(range(10,150, 25))
lst

[10, 35, 60, 85, 110, 135]

ls = list()

In [50]:
ls

[]

## nested list
- Allow a list to contain multiple sublists.
- Items in each sublist may be of various data types. 
- Comma-separated sublists
- The inner lists can again contain other lists

In [53]:
lst1 = [90,80,70]
lst2 = [60,50,40]
lst3 = [40,30,20]

In [54]:
lst = [lst1,lst2,lst3]

In [55]:
lst

[[90, 80, 70], [60, 50, 40], [40, 30, 20]]

In [56]:
len(lst)

3

In [57]:
lst[0]

[90, 80, 70]

In [58]:
lst[0][0]

90

In [59]:
lst[-1]

[40, 30, 20]

In [60]:
lst[-1][1]

30

In [61]:
lst

[[90, 80, 70], [60, 50, 40], [40, 30, 20]]

In [62]:
lst[-1].append(50)

In [63]:
lst

[[90, 80, 70], [60, 50, 40], [40, 30, 20, 50]]

In [64]:
lst[-2].pop(-2)

50

In [65]:
lst

[[90, 80, 70], [60, 40], [40, 30, 20, 50]]

In [66]:
lst[0][1:]

[80, 70]

In [67]:
lst[-2:]

[[60, 40], [40, 30, 20, 50]]

In [68]:
lst = ['a', 'b', 80, ['aa', 'bb', ['ddd', 10, 'eee', [True,False]]], 'f', 50,'g']
lst

['a', 'b', 80, ['aa', 'bb', ['ddd', 10, 'eee', [True, False]]], 'f', 50, 'g']

In [69]:
len(lst)

7

In [70]:
lst[3]

['aa', 'bb', ['ddd', 10, 'eee', [True, False]]]

In [72]:
lst[3][-1][-1][0] = False

In [73]:
lst[3]

['aa', 'bb', ['ddd', 10, 'eee', [False, False]]]

In [74]:
lst[3][-1][:-1]

['ddd', 10, 'eee']

In [75]:
lst

['a', 'b', 80, ['aa', 'bb', ['ddd', 10, 'eee', [False, False]]], 'f', 50, 'g']

In [76]:
lst1

[90, 80, 70]

In [77]:
lst.insert(1,lst1)

In [78]:
lst

['a',
 [90, 80, 70],
 'b',
 80,
 ['aa', 'bb', ['ddd', 10, 'eee', [False, False]]],
 'f',
 50,
 'g']

In [79]:
lst[4][-1].insert(0,'CIS310')

In [80]:
lst

['a',
 [90, 80, 70],
 'b',
 80,
 ['aa', 'bb', ['CIS310', 'ddd', 10, 'eee', [False, False]]],
 'f',
 50,
 'g']

In [81]:
#zip
states = ['AZ','CO','CA']
temp = [80,10,70]
zipped_obj = zip(states,temp)

In [82]:
zipped_obj

In [83]:
list(zipped_obj)

[('AZ', 80), ('CO', 10), ('CA', 70)]