# Ramadan Abdunabi
## Week6 02/27/2025 - 03/04/2025
### Python List Comprehension

**list comprehensions make it easy to create lists while performing sophisticated filtering, mapping, and conditional logic on their members.**

## List Comprehension Format:

<code> new_list = [expression for member in iterable] <code/>

In [1]:
message = "Welcome To CIS310"
chars = []
for letter in message:
    if not message.isspace():
        chars.append(letter)

In [2]:
chars

['W',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 ' ',
 'T',
 'o',
 ' ',
 'C',
 'I',
 'S',
 '3',
 '1',
 '0']

In [3]:
chars = [letter for letter in message]
chars

['W',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 ' ',
 'T',
 'o',
 ' ',
 'C',
 'I',
 'S',
 '3',
 '1',
 '0']

In [4]:
range(20)

range(0, 20)

In [5]:
squares = []
for num in range(20):
    squares.append(num**2)

In [6]:
squares

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [7]:
squares = [num**2 for num in range(20)]
squares

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [8]:
c_lst = [4,10,20,25.5,15.8,0,14.9]
f_lst = [((9/5) * t + 32) for t in c_lst]
f_lst

[39.2, 50.0, 68.0, 77.9, 60.44, 32.0, 58.82]

In [2]:
# calculate the price after tax for a list of transactions:
txns = [1.09, 23.56, 57.84, 4.56, 6.78]
TAX_RATE = .08
final_price = [round((t * (1+TAX_RATE)),2) for t in txns]
final_price

[1.18, 25.44, 62.47, 4.92, 7.32]

In [5]:
# Filter the data
# new_list = [expression for member in iterable (if conditional)]
even_lst = [n for n in range(1,21) if n % 2 == 0]
even_lst

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
lst = [n for n in range(101) if n % 2 == 0 if n % 5 == 0]
lst

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [8]:
s = "CIS310 communicate students with analytical thinking and practical technical skills"
vowels = 'aeiou'
vowels_lst = [letter for letter in s if letter in vowels]
vowels_lst

['o',
 'u',
 'i',
 'a',
 'e',
 'u',
 'e',
 'i',
 'a',
 'a',
 'i',
 'a',
 'i',
 'i',
 'a',
 'a',
 'i',
 'a',
 'e',
 'i',
 'a',
 'i']

In [11]:
# Place conditional near the beginning
# new_list = [expression (if conditional) for member in iterable]
# mapping data
sales = [1.25, -9.45, 10.22, 3.78, -5.92, 1.16]
new_sales = [v if v > 0 else 0 for v in sales]
new_sales

[1.25, 0, 10.22, 3.78, 0, 1.16]

In [12]:
# filter
new_sales = [v for v in sales if v > 0]
new_sales

[1.25, 10.22, 3.78, 1.16]

In [14]:
lst = ['even' if n % 2 == 0 else 'odd' for n in range(1,21)]
lst

['odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even']

In [16]:
s = 'Studies found that the financial impact of Poor-Quality data cost the US economy $3.1 trillion in 2016'
vowels = 'aeiou'
consonants = [letter.lower() for letter in s if letter.isalpha() and letter.lower() not in vowels]
consonants

['s',
 't',
 'd',
 's',
 'f',
 'n',
 'd',
 't',
 'h',
 't',
 't',
 'h',
 'f',
 'n',
 'n',
 'c',
 'l',
 'm',
 'p',
 'c',
 't',
 'f',
 'p',
 'r',
 'q',
 'l',
 't',
 'y',
 'd',
 't',
 'c',
 's',
 't',
 't',
 'h',
 's',
 'c',
 'n',
 'm',
 'y',
 't',
 'r',
 'l',
 'l',
 'n',
 'n']

In [18]:
# Nested list comprehensions
lst = [num**2 for num in [n for n in range(21) if n%2 != 0]]
lst

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [19]:
# Using Set and Dictionary Comprehensions
s = {n for n in range(26)}
s

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25}

In [20]:
s = {(n,n*2,n**2) for n in range(26)}
s

{(0, 0, 0),
 (1, 2, 1),
 (2, 4, 4),
 (3, 6, 9),
 (4, 8, 16),
 (5, 10, 25),
 (6, 12, 36),
 (7, 14, 49),
 (8, 16, 64),
 (9, 18, 81),
 (10, 20, 100),
 (11, 22, 121),
 (12, 24, 144),
 (13, 26, 169),
 (14, 28, 196),
 (15, 30, 225),
 (16, 32, 256),
 (17, 34, 289),
 (18, 36, 324),
 (19, 38, 361),
 (20, 40, 400),
 (21, 42, 441),
 (22, 44, 484),
 (23, 46, 529),
 (24, 48, 576),
 (25, 50, 625)}

In [21]:
s = (n for n in range(26))
s

In [22]:
# Dictionary
d = {n:n**2 for n in range(26)}
d

{0: 0,
 1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400,
 21: 441,
 22: 484,
 23: 529,
 24: 576,
 25: 625}

In [24]:
cities = ['Austin', 'Tacoma', 'Topeka', 'Sacramento', 'Charlotte']
temps = {city:[n for n in range(40,48)] for city in cities}
temps

{'Austin': [40, 41, 42, 43, 44, 45, 46, 47],
 'Tacoma': [40, 41, 42, 43, 44, 45, 46, 47],
 'Topeka': [40, 41, 42, 43, 44, 45, 46, 47],
 'Sacramento': [40, 41, 42, 43, 44, 45, 46, 47],
 'Charlotte': [40, 41, 42, 43, 44, 45, 46, 47]}

In [25]:
from random import randint
cities = ['Austin', 'Tacoma', 'Topeka', 'Sacramento', 'Charlotte']
temps = {city:randint(40,90) for city in cities}
temps

{'Austin': 55, 'Tacoma': 72, 'Topeka': 64, 'Sacramento': 47, 'Charlotte': 70}

In [28]:
# using a dictionary and list to generate a new list
l = [1,2,1,2,3,4,5,6,2]
d = {1:'yes',2:'no'}
lst = [d.get(n,'idle') for n in l] 
lst

['yes', 'no', 'yes', 'no', 'idle', 'idle', 'idle', 'idle', 'no']

In [31]:
# No direct access to elif in list comprehension
lst = [1,2,1,2,3,4,5,6,2]
new_lst = ['yes' if n == 1 else 'no' if n == 2 else 'idle' for n in lst]
new_lst

['yes', 'no', 'yes', 'no', 'idle', 'idle', 'idle', 'idle', 'no']

In [34]:
lst = [n**2 if n < 10 else n for n in range(20)]
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [35]:
x = [5, 2, 1, 4, 5, 2,1,3]
answer = ['accept' if n > 4 else 'reject' for n in x]
answer

['accept',
 'reject',
 'reject',
 'reject',
 'accept',
 'reject',
 'reject',
 'reject']