# Ramadan Abdunabi
## Week 7 10/01/2024 - 10/08/2024
### Python User Functions

**Python Funnction format**

<code>def function_name(args):
    '''
    docstring (Document String)- This is where you describe a function
    '''
    #statement(s) <code/>

In [1]:
# Creating a function
def fun_welcome():
    print('Welcome To CIS310!')

In [2]:
fun_welcome()

Welcome To CIS310!

In [3]:
# function with parameters (arguments)
def fun_greet(name):
    '''
    This function greets a person name passed as a parameter
    '''
    print(f'Hello {name}, welcome to CIS310!')

In [4]:
fun_greet('Nick')

Hello Nick, welcome to CIS310!

In [5]:
fun_greet('Bob')

Hello Bob, welcome to CIS310!

In [6]:
print(fun_greet.__doc__)

    This function greets a person name passed as a parameter

In [7]:
def sum_of_two(n1,n2):
    print(f'the sum of {n1} and {n2} is {n1 +n2}')

In [8]:
sum_of_two(5,6)

the sum of 5 and 6 is 11

In [9]:
#Using return
def sum_of_two(n1,n2):
    return n1 + n2

In [10]:
sum_of_two(10,5)

15

In [11]:
x,y = 5, 8
print(f'the sum of {x} and {y} is {sum_of_two(x,y)}')

the sum of 5 and 8 is 13

In [12]:
s = sum_of_two(x,y)
print(f'the sum of {x} and {y} is {s}')

the sum of 5 and 8 is 13

In [13]:
def avg_nums(num1,num2,num3):
    return (num1 + num2 + num3) / 3

In [14]:
avg_nums(5,6,7)

6.0

In [15]:
a = avg_nums(5,6,7)

In [16]:
a

6.0

In [18]:
#min_two_odds(3,5) --> 3
#min_two_odds(4,9) --> 9
def min_two_odds(n1,n2):
    if n1 % 2 !=0 and n2 != 0:
        return min(n1,n2)
    else:
        return max(n1,n2)

In [19]:
min_two_odds(3,5)

3

In [20]:
min_two_odds(4,9)

9

In [27]:
# find a number is prime
def is_prime(num):
    for n in range(2,num):
        if num % n == 0:
            return str(num) + ' is not a prime number'
    else:
        return str(num) + ' is a prime number'

In [25]:
is_prime(7)

'7 is a prime number'

In [26]:
is_prime(16)

'16 is not a prime number'

In [28]:
#check if two-word string starts with the same letter
# two_words_letters('Python Program') -> True
# two_words_letters('Java Program') -> False
'Python Program'.split(' ')

['Python', 'Program']

In [29]:
def two_words_letters(word):
    wlst = word.split()
    return wlst[0][0] == wlst[1][0]

In [30]:
two_words_letters('Python Program')

True

In [31]:
two_words_letters('Java Program')

False

In [36]:
# Check if a list has number 5 next to number 5 somewhere in the list
# [3,4,5,5,10] -> True
# [3,4,5,6,5,8] -> False
def has_55(lst):
    for i in range(len(lst)-1):
        if lst[i] == 5 and lst[i+1] == 5:
        #if lst[i:i+2] == [5,5]:
            return True
   
    return False

In [37]:
has_55([3,4,5,5,10])

True

In [38]:
has_55([3,4,5,6,5,8])

False

In [44]:
# check code 001 in a list
# [1,4,5,0,0,1,8] -> True
# [1,0,2,5,0,6,1,8] -> True
# [1,5,6,0,6,7,8,0] - > False
def has_code(lst):
    code = [0,0,1,'S']
    for num in lst:
        if num == code[0]:
            code.pop(0) # remove the number at index 0
    
    return len(code) == 1

In [45]:
has_code([1,4,5,0,0,1,8])

True

In [46]:
has_code([1,0,2,5,0,6,1,8])

True

In [42]:
has_code([1,5,6,0,6,7,8,0])

True

In [47]:
has_code([1,5,6,0,6,7,8,0])

False

In [1]:
# Default Parameter Value
# print() default parameter for end is '\n'
def my_country(name = 'USA'):
    print(f'I am from {name}')

In [2]:
my_country()

I am from USA

In [3]:
my_country('India')

I am from India

In [4]:
my_country('Italy')

I am from Italy

In [5]:
# Number of arguments - *
# If the number of arguments is unknown, add a * before the parameter name
def sum_nums(a,b):
    return sum((a,b))

In [6]:
sum_nums(5,6)

11

In [7]:
sum_nums(5,6,7)

TypeError: sum_nums() takes 2 positional arguments but 3 were given

In [8]:
# Arbitrary number of Arguments
def sum_nums(*n):
    return sum(n)

In [9]:
sum_nums(5,6)

11

In [10]:
sum_nums(5,6,7)

18

In [11]:
sum_nums(5)

5

In [12]:
def full_name(fname,lname):
    print(f'{lname}, {fname} ')

In [13]:
full_name('James', 'Smith')

Smith, James

In [14]:
full_name('James')

TypeError: full_name() missing 1 required positional argument: 'lname'

In [15]:
def full_name(*name):
    print(f'{name[1]}, {name[0]} ')

In [16]:
full_name('James', 'Smith')

Smith, James

In [17]:
full_name('James')

IndexError: tuple index out of range

In [19]:
def full_name(*name):
    if len(name) == 2 :
        print(f'{name[1]}, {name[0]}')
    elif len(name) == 1:
        print(f'{name[0]}')
    else:
        print(f"name = {name}")

In [20]:
full_name('James', 'Smith')

Smith, James

In [21]:
full_name('James')

James

In [22]:
full_name()

name = ()

In [23]:
full_name('James', 'Smith', 'Bob')

name = ('James', 'Smith', 'Bob')

In [25]:
sum([5,6,7])

18

In [26]:
# Keyword Arguments
#The order or position of the function parameters
def my_kids(child1,child2,child3):
    print(f"my first child '{child1}', my second child '{child2}', my third child '{child3}'")

In [27]:
my_kids("Emil","Jon","Alice")

my first child 'Emil', my second child 'Jon', my third child 'Alice'

In [28]:
my_kids(child3='Jon', child2='Emil', child1='Alice')

my first child 'Alice', my second child 'Emil', my third child 'Jon'

In [29]:
my_kids(child2='Emil', child3='Jon', child1='Alice')

my first child 'Alice', my second child 'Emil', my third child 'Jon'

In [30]:
# Arbitrary Keyword Arguments, **kwargs
'''
If you do not know how many keyword arguments that will be passed into your function, 
add two asterisk: ** before the parameter name in the function definition.

This way the function will receive a dictionary of arguments.
'''
def my_name(**names):
    print(f"My last name is {names['lname']}")
    print(f"My first name is {names['fname']}")
    print(f"Full name is {names['lname']}, {names['fname']}")

In [31]:
my_name(fname = 'James', lname = 'Smith')

My last name is Smith
My first name is James
Full name is Smith, James

In [32]:
my_name(fname = 'James')

KeyError: 'lname'

In [41]:
def my_name(**names):
    
    print(names)
    
    if 'lname' in names and not 'fname' in names:
        print(f"My last name is {names['lname']}")
    elif 'fname' in names  and not 'lname' in names:
        print(f"My first name is {names['fname']}")
    elif 'lname' in names and 'fname' in names:
        print(f"Full name is {names['lname']}, {names['fname']}")
    else:
        print(f'No names are provided {names}')

In [42]:
my_name(fname = 'James', lname = 'Smith')

{'fname': 'James', 'lname': 'Smith'}
Full name is Smith, James

In [43]:
my_name(fname = 'James')

{'fname': 'James'}
My first name is James

In [44]:
my_name(lname = 'Smith')

{'lname': 'Smith'}
My last name is Smith

In [45]:
my_name()

{}
No names are provided {}

In [46]:
#Arbitrary Arguments and Keyword Arguments, *args and **kwargs
# Python String join() Method
# Join all items in an iterable into a string, using a character as a separator
fruits = ["Apple", "Banana","Cherry","Orange"]
', '.join(fruits)

'Apple, Banana, Cherry, Orange'

In [51]:
def my_dinner(*food, **fruits):
    if 'fruit' in fruits and not 'juice' in fruits:
        print(f"I would like {', '.join(food)} and my favorite fruit is {fruits['fruit']}")
    elif 'juice' in fruits and not 'fruit' in fruits:
        print(f"I would like {', '.join(food)} and my favorite juice is {fruits['juice']}")
    elif 'fruit' in fruits and 'juice' in fruits:
        print(f"I would like {', '.join(food)} and my favorite fruit is {fruits['fruit']}")
        print(f"I also like to have some {fruits['juice']} juice after dinner")
    else:
        print('Thank you, I will just have a cup of coffee')

In [52]:
my_dinner('eggs', 'milk', 'cheese', fruit='Cherry', juice='Orrange')

I would like eggs, milk, cheese and my favorite fruit is Cherry
I also like to have some Orrange juice after dinner

In [54]:
# Scope of variables
num = 10
def update():
    num = 20
    print(f'Inside the function num = {num}')

print(f'Outside of the function num = {num}')

Outside of the function num = 10

In [56]:
update()
print(f'Outside of the function num = {num}')

Inside the function num = 20
Outside of the function num = 10

In [ ]:
# Using function in list comprehensions