# Ramadan Abdunabi
##  wk6 09/24/2024
## Python For Loops

**General for loops format:**
<code> 
 for item in object:
    statement(s) to execute 
</code>

In [2]:
sc = [90,81,88,89,94,92,79,98]
for score in sc:
    print(f'score = {score}')

score = 90
score = 81
score = 88
score = 89
score = 94
score = 92
score = 79
score = 98

In [3]:
for score in sc[::-1]:
    print(f'score = {score}')

score = 98
score = 79
score = 92
score = 94
score = 89
score = 88
score = 81
score = 90

In [8]:
sc.reverse()
for score in sc:
    print(f'score = {score}')

score = 90
score = 81
score = 88
score = 89
score = 94
score = 92
score = 79
score = 98

In [5]:
sc.reverse()

In [6]:
sc

[90, 81, 88, 89, 94, 92, 79, 98]

In [9]:
for score in sc:
    if score % 2 == 0:
        print(f'score = {score}')

score = 90
score = 88
score = 94
score = 92
score = 98

In [11]:
for score in sc:
    if score % 2 == 0:
        print(f'even score = {score}')
    else:
        print(f'odd score = {score}')

even score = 90
odd score = 81
even score = 88
odd score = 89
even score = 94
even score = 92
odd score = 79
even score = 98

In [12]:
sc

[90, 81, 88, 89, 94, 92, 79, 98]

In [13]:
even = []
odd = []

for score in sc:
    if score % 2 == 0:
        even.append(score)
    else:
        odd.append(score)

In [14]:
even

[90, 88, 94, 92, 98]

In [15]:
odd

[81, 89, 79]

In [16]:
len(sc) == len(even) + len(odd)

True

In [22]:
sum = 0
for n in sc:
    sum = sum + n
    
print(f'The average = {sum / len(sc)}')

The average = 88.875

In [23]:
# else
sum = 0
for n in sc:
    sum = sum + n
else:    
    print(f'The average = {sum / len(sc)}')

The average = 88.875

In [27]:
for letter in "I am a student in cis310":
    print(letter, end='')

I am a student in cis310

In [29]:
for letter in "I am a student in cis310":
    if letter.isspace():
        print(letter, end=',')

 , , , , ,

In [30]:
for letter in "I am a student in cis310":
    if not letter.isspace():
        print(letter, end='')

Iamastudentincis310

In [31]:
for letter in "I am a student in cis310":
    if letter.isspace():
        pass
    else:
        print(letter, end='')

Iamastudentincis310

In [32]:
#tuple
t= (5,6,8,10,5,6)
for n in t:
    print(f'n = {n}')

n = 5
n = 6
n = 8
n = 10
n = 5
n = 6

In [33]:
#set
s= {5,6,8,10,5,6}
for n in s:
    print(f'n = {n}')

n = 8
n = 10
n = 5
n = 6

In [34]:
lst1 = ['red', 'blue', 'green']
lst2 = [10, 8, 6]
lst = list( zip(lst1,lst2) )

In [35]:
lst

[('red', 10), ('blue', 8), ('green', 6)]

In [36]:
for item in zip(lst1,lst2):
    print(item)

('red', 10)
('blue', 8)
('green', 6)

In [37]:
for item in zip(lst1,lst2):
    print(item[0])

red
blue
green

In [38]:
for item in zip(lst1,lst2):
    print(item[1])

10
8
6

In [39]:
for (t1,t2) in zip(lst1,lst2):
    print(t1)

red
blue
green

In [40]:
for (t1,t2) in zip(lst1,lst2):
    print(t2)

10
8
6

In [41]:
lst

[('red', 10), ('blue', 8), ('green', 6)]

In [42]:
for (t1,t2) in lst:
    print(t1)

red
blue
green

In [43]:
for (t1,t2) in lst:
    print(t2)

10
8
6

In [44]:
for item in lst:
    print(item)

('red', 10)
('blue', 8)
('green', 6)

In [45]:
#dictionary
d = {"brand": "ford", "model": "Mustang", "year":1964}
d

{'brand': 'ford', 'model': 'Mustang', 'year': 1964}

In [46]:
for key in d.keys():
    print(key)

brand
model
year

In [48]:
for v in d.values():
    print(v)

ford
Mustang
1964

In [49]:
for t in d.items():
    print(t)

('brand', 'ford')
('model', 'Mustang')
('year', 1964)

In [50]:
for t in d:
    print(t)

brand
model
year

In [51]:
for t in d:
    print(d[t])

ford
Mustang
1964

In [52]:
for t in d.items():
    print(t[0])

brand
model
year

In [53]:
for t in d.items():
    print(t[1])

ford
Mustang
1964

In [54]:
for k,v in d.items():
    print(k, ' ', v)

brand   ford
model   Mustang
year   1964

In [55]:
#break and continue
fruits = ['Apple', "Banana", 'Cherry', 'Orange']

for fruit in fruits:
    print(fruit)

Apple
Banana
Cherry
Orange

In [56]:
for fruit in fruits:
    print(fruit)
    if fruit == 'Banana':
        break

Apple
Banana

In [57]:
#continue keyword
for fruit in fruits:
    if fruit == 'Banana':
        continue
    print(fruit)

Apple
Cherry
Orange

In [59]:
for fruit in fruits:
    if fruit == 'Banana':
        pass
    else:
        print(fruit)

Apple
Cherry
Orange

In [60]:
# range()
for num in range(6):
    print(num)

0
1
2
3
4
5

In [61]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [63]:
for num in range(5,56,5):
    print(num)

5
10
15
20
25
30
35
40
45
50
55

In [64]:
#How to loop with index in python
for fruit in fruits:
    print(fruit)

Apple
Banana
Cherry
Orange

In [65]:
len(fruits)

4

In [66]:
range(4)

range(0, 4)

In [69]:
for i in range( len(fruits) ):
    print('at index: ', i, ' the value is: ', fruits[i])

at index:  0  the value is:  Apple
at index:  1  the value is:  Banana
at index:  2  the value is:  Cherry
at index:  3  the value is:  Orange

In [70]:
#Pythons built in enumerate() function
for idx, n in enumerate(fruits):
    print(idx, n)

0 Apple
1 Banana
2 Cherry
3 Orange

In [71]:
for idx, n in enumerate(fruits, start=1):
    print(idx, n)

1 Apple
2 Banana
3 Cherry
4 Orange

In [4]:
# what we should do if we need to loop over multiple collections? 
# Without nested loop
colors =['red', 'green', 'blue','purple']
ratios= [0.2,0.3,0.4,0.1]
for index, value in enumerate(colors):
    print(f'ratio: {int(ratios[index]*100)}% color: {value}')

ratio: 20% color: red
ratio: 30% color: green
ratio: 40% color: blue
ratio: 10% color: purple

In [7]:
for v in enumerate(colors):
    print(v)

(0, 'red')
(1, 'green')
(2, 'blue')
(3, 'purple')

In [5]:
# using range()
range(len(colors))

range(0, 4)

In [6]:
for index in range(len(colors)):
    print(f'ratio: {int(ratios[index]*100)}% color: {colors[index]}')

ratio: 20% color: red
ratio: 30% color: green
ratio: 40% color: blue
ratio: 10% color: purple

In [9]:
# using zip()
list(zip(ratios,colors))

[(0.2, 'red'), (0.3, 'green'), (0.4, 'blue'), (0.1, 'purple')]

In [11]:
for ratio,color in zip(ratios,colors):
    print(f'ratio: {int(ratio*100)}% color: {color}')

ratio: 20% color: red
ratio: 30% color: green
ratio: 40% color: blue
ratio: 10% color: purple