# Ramadan Abdunabi
## Week4 - 02/09/2024
### Python - Dictionary, {}, dict()

- Dictionary is a Python collection. 
- Stores data values in key:value pairs.
- No Duplicates - Cannot have two items with the same key.
- Changeable - Can change, add or remove items after the dictionary is created.

In [1]:
dict1 = dict()

In [2]:
dict1

{}

In [3]:
type(dict1)

dict

In [4]:
dict1['no'] = 310

In [5]:
dict1

{'no': 310}

In [6]:
dict1['course'] = ['cis200', 'cis240', 'cis310']

In [7]:
dict1

{'no': 310, 'course': ['cis200', 'cis240', 'cis310']}

In [8]:
dict2 = {'k1': 'Value1', 'k2':'Value2', 'k3':'Value3', 'k4':'Value4'}
dict2

{'k1': 'Value1', 'k2': 'Value2', 'k3': 'Value3', 'k4': 'Value4'}

In [10]:
dict2.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [11]:
dict1.keys()

dict_keys(['no', 'course'])

In [12]:
dict1.values()

dict_values([310, ['cis200', 'cis240', 'cis310']])

In [13]:
dict2.values()

dict_values(['Value1', 'Value2', 'Value3', 'Value4'])

In [14]:
dict2.items()

dict_items([('k1', 'Value1'), ('k2', 'Value2'), ('k3', 'Value3'), ('k4', 'Value4')])

In [16]:
lst = list(dict2.items())
lst

[('k1', 'Value1'), ('k2', 'Value2'), ('k3', 'Value3'), ('k4', 'Value4')]

In [17]:
lst[0]

('k1', 'Value1')

In [18]:
lst[0][0]

'k1'

In [19]:
lst[0][1]

'Value1'

In [20]:
car = {'brand': 'Toyota', 'model': 'Prius', 'year':2024}
car

{'brand': 'Toyota', 'model': 'Prius', 'year': 2024}

In [21]:
len(car)

3

In [22]:
car['brand'] = 'GMC'

In [23]:
car

{'brand': 'GMC', 'model': 'Prius', 'year': 2024}

In [24]:
car['seat'] = 8

In [25]:
car

{'brand': 'GMC', 'model': 'Prius', 'year': 2024, 'seat': 8}

In [28]:
cis_dept = {'no':20, 'cis':['cis200','cis240','cis310'], 'crn': (1,2,3),'ins':{'Ramadan', 'Jon', 'Nick'}}

In [29]:
cis_dept

{'no': 20,
 'cis': ['cis200', 'cis240', 'cis310'],
 'crn': (1, 2, 3),
 'ins': {'Jon', 'Nick', 'Ramadan'}}

In [30]:
cis_dept['no']

20

In [31]:
cis_dept['ins']

{'Jon', 'Nick', 'Ramadan'}

In [32]:
cis_dept.keys()

dict_keys(['no', 'cis', 'crn', 'ins'])

In [33]:
cis_dept.values()

dict_values([20, ['cis200', 'cis240', 'cis310'], (1, 2, 3), {'Nick', 'Ramadan', 'Jon'}])

In [34]:
cis_dept['ins']

{'Jon', 'Nick', 'Ramadan'}

In [35]:
cis_dept['ins'].add('Mat')

In [36]:
cis_dept

{'no': 20,
 'cis': ['cis200', 'cis240', 'cis310'],
 'crn': (1, 2, 3),
 'ins': {'Jon', 'Mat', 'Nick', 'Ramadan'}}

In [37]:
cis_dept['c']='COB'

In [38]:
cis_dept

{'no': 20,
 'cis': ['cis200', 'cis240', 'cis310'],
 'crn': (1, 2, 3),
 'ins': {'Jon', 'Mat', 'Nick', 'Ramadan'},
 'c': 'COB'}

In [39]:
cis_dept['College'] = cis_dept['c']

In [40]:
cis_dept

{'no': 20,
 'cis': ['cis200', 'cis240', 'cis310'],
 'crn': (1, 2, 3),
 'ins': {'Jon', 'Mat', 'Nick', 'Ramadan'},
 'c': 'COB',
 'College': 'COB'}

In [41]:
del cis_dept['c']

In [42]:
cis_dept

{'no': 20,
 'cis': ['cis200', 'cis240', 'cis310'],
 'crn': (1, 2, 3),
 'ins': {'Jon', 'Mat', 'Nick', 'Ramadan'},
 'College': 'COB'}

In [1]:
# using some built-in functions
# get(), pop(), popitem(), etc
car_dict = {'brand': 'Toyota', 'model': 'Prius', 'year': 2024}
car_dict

{'brand': 'Toyota', 'model': 'Prius', 'year': 2024}

In [2]:
len(car_dict)

3

In [3]:
car_dict.keys()

dict_keys(['brand', 'model', 'year'])

In [4]:
car_dict.values()

dict_values(['Toyota', 'Prius', 2024])

In [5]:
car_dict.items()

dict_items([('brand', 'Toyota'), ('model', 'Prius'), ('year', 2024)])

In [6]:
car_dict['year']

2024

In [7]:
car_dict.get('brand')

'Toyota'

In [8]:
car = car_dict.copy()

In [9]:
car

{'brand': 'Toyota', 'model': 'Prius', 'year': 2024}

In [10]:
car_dict

{'brand': 'Toyota', 'model': 'Prius', 'year': 2024}

In [11]:
car_dict.pop('year')

2024

In [12]:
car_dict

{'brand': 'Toyota', 'model': 'Prius'}

In [13]:
car_dict.popitem()

('model', 'Prius')

In [14]:
car_dict

{'brand': 'Toyota'}

In [15]:
car

{'brand': 'Toyota', 'model': 'Prius', 'year': 2024}

In [16]:
car_dict

{'brand': 'Toyota'}

In [17]:
car1 = car_dict

In [18]:
car1

{'brand': 'Toyota'}

In [19]:
car_dict

{'brand': 'Toyota'}

In [20]:
car_dict.popitem()

('brand', 'Toyota')

In [21]:
car_dict

{}

In [22]:
car1

{}

In [23]:
car

{'brand': 'Toyota', 'model': 'Prius', 'year': 2024}

In [24]:
car['year'] = 2025

In [25]:
# rename key
my_dict = {'apple': 1, 'banana': 2, 'orange': 3}

In [26]:
my_dict

{'apple': 1, 'banana': 2, 'orange': 3}

In [27]:
my_dict['pear'] = my_dict.pop('banana')

In [28]:
my_dict

{'apple': 1, 'orange': 3, 'pear': 2}

In [29]:
my_dict['mango'] = my_dict['apple']
del my_dict['apple']

In [30]:
my_dict

{'orange': 3, 'pear': 2, 'mango': 1}

In [31]:
# nested dictionaries
d = {'k1': {'k2': {'k3': 55}}, 'k2':{'k1':20}}

In [32]:
d

{'k1': {'k2': {'k3': 55}}, 'k2': {'k1': 20}}

In [33]:
d['k1']

{'k2': {'k3': 55}}

In [34]:
d['k1']['k2']

{'k3': 55}

In [35]:
d['k1']['k2']['k3']

55

In [36]:
d

{'k1': {'k2': {'k3': 55}}, 'k2': {'k1': 20}}

In [37]:
d['k2']['k1']

20

In [38]:
d['k2']['k1'] = 24

In [39]:
d

{'k1': {'k2': {'k3': 55}}, 'k2': {'k1': 24}}

In [40]:
myFamily = {
    'child1': {'name':'Jen','DoB':'01/01/2000'},
    'child2': {'name':'Alice','DoB':'06/01/2004'},
    'child3': {'name':'Bob','DoB':'10/16/2008'},
    'spouse': {'name': 'Jon', 'DoB':'12/20/1978','MD':'08/08/1998'}
}

In [41]:
myFamily['child1']['name']

'Jen'

In [42]:
myFamily['spouse']['DoB']

'12/20/1978'

In [45]:
list(myFamily['child2'].values())

['Alice', '06/01/2004']

In [46]:
myFamily

{'child1': {'name': 'Jen', 'DoB': '01/01/2000'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'child3': {'name': 'Bob', 'DoB': '10/16/2008'},
 'spouse': {'name': 'Jon', 'DoB': '12/20/1978', 'MD': '08/08/1998'}}

In [47]:
myFamily['spouse']['MD'] = '10/08/1998'

In [48]:
myFamily

{'child1': {'name': 'Jen', 'DoB': '01/01/2000'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'child3': {'name': 'Bob', 'DoB': '10/16/2008'},
 'spouse': {'name': 'Jon', 'DoB': '12/20/1978', 'MD': '10/08/1998'}}

In [49]:
myFamily['spouse']['address'] = 'Fort Collins'

In [50]:
myFamily

{'child1': {'name': 'Jen', 'DoB': '01/01/2000'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'child3': {'name': 'Bob', 'DoB': '10/16/2008'},
 'spouse': {'name': 'Jon',
  'DoB': '12/20/1978',
  'MD': '10/08/1998',
  'address': 'Fort Collins'}}

In [51]:
# Casting between Python collections
ls = [2,3,4,5,{3,3,4}, (10,20,30,40), ['a','b','c']]
ls

[2, 3, 4, 5, {3, 4}, (10, 20, 30, 40), ['a', 'b', 'c']]

In [53]:
t = tuple(ls)

In [54]:
t

(2, 3, 4, 5, {3, 4}, (10, 20, 30, 40), ['a', 'b', 'c'])

In [55]:
t = (1,2,3,4,5, (3,4,5,6,7))
t

(1, 2, 3, 4, 5, (3, 4, 5, 6, 7))

In [56]:
ls = list(t)
ls

[1, 2, 3, 4, 5, (3, 4, 5, 6, 7)]

In [57]:
s = set(t)
s

{(3, 4, 5, 6, 7), 1, 2, 3, 4, 5}

In [58]:
s = {1,2,3,4,5,'a','b','c'}
s

{1, 2, 3, 4, 5, 'a', 'b', 'c'}

In [59]:
ls = list(s)
ls

[1, 2, 3, 4, 5, 'a', 'b', 'c']

In [66]:
ls = [2,3,4,5,(3,3,4), (10,20,30,40), ('a','b','c')]
ls

[2, 3, 4, 5, (3, 3, 4), (10, 20, 30, 40), ('a', 'b', 'c')]

In [67]:
s = set(ls)
s

{('a', 'b', 'c'), (10, 20, 30, 40), (3, 3, 4), 2, 3, 4, 5}

In [68]:
t

(1, 2, 3, 4, 5, (3, 4, 5, 6, 7))

In [69]:
ls

[2, 3, 4, 5, (3, 3, 4), (10, 20, 30, 40), ('a', 'b', 'c')]

In [70]:
s

{('a', 'b', 'c'), (10, 20, 30, 40), (3, 3, 4), 2, 3, 4, 5}

In [71]:
d = dict(ls)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [72]:
d = dict(t)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [73]:
d = dict(s)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [74]:
color = {0:'blue', 1:'red', 3:'green'}
color

{0: 'blue', 1: 'red', 3: 'green'}

In [75]:
type(color)

dict

In [76]:
color[0]

'blue'