# Ramadan Abdunabi
## Wekk5 02/20/2024
### Python For Loop

**General for loops format:**

<code> for item in object:
    statements to do work </code>

In [1]:
sc = [68,87,90,89,92,78,88,75,79,85]

In [2]:
for n in sc:
    print(f'n = {n}')

n = 68
n = 87
n = 90
n = 89
n = 92
n = 78
n = 88
n = 75
n = 79
n = 85

In [3]:
for n in sc[::-1]:
    print(f'n = {n}')

n = 85
n = 79
n = 75
n = 88
n = 78
n = 92
n = 89
n = 90
n = 87
n = 68

In [4]:
# print even and odd numbers in the list

0

In [6]:
for n in sc:
    if n % 2 == 0:
        print(f'Even = {n}')
    else:
        print(f'Odd = {n}')

Even = 68
Odd = 87
Even = 90
Odd = 89
Even = 92
Even = 78
Even = 88
Odd = 75
Odd = 79
Odd = 85

In [7]:
even = []
odd = []
for n in sc:
    if n % 2 == 0:
        even.append(n)
    else:
        odd.append(n)

In [8]:
even

[68, 90, 92, 78, 88]

In [9]:
odd

[87, 89, 75, 79, 85]

In [10]:
# Average of the scores
s = 0
for n in sc:
    s+=n
    
print(f'average = {s/len(sc)}')

average = 83.1

In [14]:
for letter in 'I am a student in CIS310!':
    if not letter.isspace():
        print(letter, end='')

IamastudentinCIS310!

In [15]:
# tuple
t = (5,7,9,10,14)

for n in t:
    print(n)

5
7
9
10
14

In [16]:
# set
s = {5,7,9,10,14}

for n in s:
    print(n)

5
7
9
10
14

In [17]:
lst1 = ['red', 'blue', 'green', 'yellow']
lst2 = [10,8,5,9]
lst = list(zip(lst1,lst2))

In [18]:
lst

[('red', 10), ('blue', 8), ('green', 5), ('yellow', 9)]

In [19]:
for item in lst:
    print(item)

('red', 10)
('blue', 8)
('green', 5)
('yellow', 9)

In [20]:
for (t1,t2) in lst:
    print(t1)

red
blue
green
yellow

In [22]:
for (t1,t2) in lst:
    print(t2)

10
8
5
9

In [24]:
for item in lst:
    print(item[0])

red
blue
green
yellow

In [25]:
for item in lst:
    print(item[-1])

10
8
5
9

In [26]:
d = {"brand": "Ford", "model": "Mustang", "year": 1964}

In [27]:
d.keys()

dict_keys(['brand', 'model', 'year'])

In [28]:
d.values()

dict_values(['Ford', 'Mustang', 1964])

In [29]:
d.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [30]:
for item in d:
    print(item)

brand
model
year

In [31]:
for item in d.values():
    print(item)

Ford
Mustang
1964

In [32]:
for item in d:
    print(d[item])

Ford
Mustang
1964

In [33]:
for item in d.items():
    print(item)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)

In [34]:
for item in d.items():
    print(item[0])

brand
model
year

In [35]:
for item in d.items():
    print(item[1])

Ford
Mustang
1964

In [36]:
for k,v in d.items():
    print(k)

brand
model
year

In [38]:
for k,v in d.items():
    print(v)

Ford
Mustang
1964

In [1]:
# break and continue
fruits = ['Apple',"Banana","Cherry", 'Orange']
for f in fruits:
    print(f)

Apple
Banana
Cherry
Orange

In [2]:
for f in fruits:
    print(f)
    if f == 'Banana':
        break

Apple
Banana

In [3]:
#continue keyword
for f in fruits:
    if f == 'Banana':
        continue
    print(f)

Apple
Cherry
Orange

In [4]:
t = (10,5,6,3,9,8,2)
for n in t:
    if n % 2 !=0:
        continue
    print(n)

10
6
8
2

In [5]:
#Python built-in function - range()
range(6)

range(0, 6)

In [6]:
for num in range(6):
    print(num)

0
1
2
3
4
5