# Ramadan Abdunabi
## Wekk5 02/20/2024
### Python For Loop

** General for loops format: **
<code> 
    for item in object:
        statements to do work </code>

In [1]:
sc =[68,87,90,89, 92, 78, 88, 75, 79, 85]

In [2]:
for n in sc:
    print(f'n = {n}')

n = 68
n = 87
n = 90
n = 89
n = 92
n = 78
n = 88
n = 75
n = 79
n = 85

In [3]:
for n in sc[::-1]:
    print(f'n = {n}')

n = 85
n = 79
n = 75
n = 88
n = 78
n = 92
n = 89
n = 90
n = 87
n = 68

In [4]:
#print even and odd numbers in the list
4%2

0

In [6]:
for n in sc:
    if n%2 == 0:
        print(f'even = {n}')

even = 68
even = 90
even = 92
even = 78
even = 88

In [8]:
for n in sc:
    if n%2 == 0:
        print(f'even = {n}')
    else:
        print(f'odd = {n}')

even = 68
odd = 87
even = 90
odd = 89
even = 92
even = 78
even = 88
odd = 75
odd = 79
odd = 85

In [9]:
for n in sc:
    if n%2 == 0:
        print(f'even = {n}')
    else:
        print(f'odd = {n}')

even = 68
odd = 87
even = 90
odd = 89
even = 92
even = 78
even = 88
odd = 75
odd = 79
odd = 85

In [10]:
even=[]
odd = []
for n in sc:
    if n%2== 0:
        even.append(n)

In [12]:
print(even)

[68, 90, 92, 78, 88]

In [13]:
print(even)

[68, 90, 92, 78, 88]

In [14]:
even=[]
odd = []
for n in sc:
    if n%2== 0:
        even.append(n)
    else:
        odd.append(n)

In [16]:
even

[68, 90, 92, 78, 88]

In [17]:
odd

[87, 89, 75, 79, 85]

In [19]:
# average of the scores
sum = 0
for n in sc:
    sum+=n
    print(f'n= {n}')
    
print(sum)

n= 68
n= 87
n= 90
n= 89
n= 92
n= 78
n= 88
n= 75
n= 79
n= 85
831

In [22]:
sum = 0
for n in sc:
    sum+=n
    
print(f'av= {sum/len(sc)}')

av= 83.1

In [23]:
s=0
for n in sc:
    s+=n
    print(f'av= {s/len(sc)}')

av= 6.8
av= 15.5
av= 24.5
av= 33.4
av= 42.6
av= 50.4
av= 59.2
av= 66.7
av= 74.6
av= 83.1

In [24]:
s=0
for n in sc:
    s+=n
    
    print(f'av= {s/len(sc)}')

av= 6.8
av= 15.5
av= 24.5
av= 33.4
av= 42.6
av= 50.4
av= 59.2
av= 66.7
av= 74.6
av= 83.1

In [26]:
for letter in 'i am a student in cis310':
    if letter.isspace:
        print(letter, end='')

i am a student in cis310

In [29]:
for letter in 'i am a student in cis310':
    if not letter.isspace():
        print(letter, end='')

iamastudentincis310

In [30]:
for letter in 'i am a student in cis310':
    if not letter.isspace():
        print(letter, end='')

iamastudentincis310

In [31]:
#tuple
t= (5,6,8)
for n in t:
    print(n)

5
6
8

In [32]:
#set
s= {5,6,8}
for n in s:
    print(n)

8
5
6

In [33]:
lst1=['red', 'blue', 'green']
lst2 =[10, 8, 6,9 ]
lst = list(zip(lst1,lst2))

In [34]:
lst

[('red', 10), ('blue', 8), ('green', 6)]

In [35]:
for item in lst:
    print(item)

('red', 10)
('blue', 8)
('green', 6)

In [36]:
for (t1,t2) in lst:
    print(t1)

red
blue
green

In [37]:
for (t1,t2) in lst:
    print(t2)

10
8
6

In [38]:
for item in lst:
    print (item[0])

red
blue
green

In [39]:
for item in lst:
    print (item[-1])

10
8
6

In [40]:
d= {"brand": "ford", "model": "mustang", "year":1964}

In [41]:
d.keys()

dict_keys(['brand', 'model', 'year'])

In [42]:
d.values()

dict_values(['ford', 'mustang', 1964])

In [43]:
for item in d:
    print(item)

brand
model
year

In [45]:
for item in d:
    print(d[item])

ford
mustang
1964

In [48]:
for v in d.values():
    print(v)

ford
mustang
1964

In [49]:
for item in d.values():
    print(item)

ford
mustang
1964

In [50]:
for item in d.items():
    print(item)

('brand', 'ford')
('model', 'mustang')
('year', 1964)

In [51]:
for item in d.items():
    print(item[0])

brand
model
year

In [52]:
for item in d.items():
    print(item[1])

ford
mustang
1964

In [53]:
for k,v in d.items():
    print(k)

brand
model
year

In [54]:
for k,v in d.items():
    print(v)

ford
mustang
1964

In [55]:
#break and continue
fruits = ['Apple', "Banana", 'Cherry', 'Orange']
for f in fruits:
    print(f)

Apple
Banana
Cherry
Orange

In [56]:
for f in fruits:
    print(f)
    if f =='Banana':
        break

Apple
Banana

In [57]:
#continue keyword
for f in fruits:
    if f =='Banana':
        continue
    print(f)

Apple
Cherry
Orange

In [58]:
t = (10,5,6,3,9,8,2)
for n in t:
    if n%2 !=0:
        continue
    print(n)

10
6
8
2

In [ ]:
# Python built-in fuction - range()
range(6)

In [59]:
for num in range(6):
    print(num)

0
1
2
3
4
5

In [60]:
for num in range(5,15):
    print(num)

5
6
7
8
9
10
11
12
13
14

In [61]:
for num in range(5,15,2):
    print(num)

5
7
9
11
13

In [62]:
range(10)

range(0, 10)

In [63]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [64]:
#How to loop with index in python
colors = ['red','green', 'blue','purple']
for c in colors:
    print(c)

red
green
blue
purple

In [65]:
len(colors)

4

In [66]:
range(len(colors))

range(0, 4)

In [67]:
for index in range(len(colors)):
    print(index,colors[index])

0 red
1 green
2 blue
3 purple

In [68]:
names = ['Washington', 'Adams', 'Jefferson',"Madison","Monroe",'Adams','Jackson']
for index in range(len(names)):
    print(index,names[index])

0 Washington
1 Adams
2 Jefferson
3 Madison
4 Monroe
5 Adams
6 Jackson

In [69]:
names = ['Washington', 'Adams', 'Jefferson',"Madison","Monroe",'Adams','Jackson']
for index in range(len(names)):
    print(index+1,names[index])

1 Washington
2 Adams
3 Jefferson
4 Madison
5 Monroe
6 Adams
7 Jackson

In [70]:
#Pythons built in enumerate function
for idx, n in enumerate(names):
    print(idx,n)

0 Washington
1 Adams
2 Jefferson
3 Madison
4 Monroe
5 Adams
6 Jackson

In [71]:
for idx, n in enumerate(names, start=1):
    print(idx,n)

1 Washington
2 Adams
3 Jefferson
4 Madison
5 Monroe
6 Adams
7 Jackson

In [72]:
#what we should do if we need to loop over multiple things? Without nested loop
colors =['red', 'green', 'blue','purple']
ratios= [0.2,0.3,0.4,0.1]
for index in range(len(colors)):
    print(ratios[index]*100,colors[index])

20.0 red
30.0 green
40.0 blue
10.0 purple

In [73]:
colors =['red', 'green', 'blue','purple']
ratios= [0.2,0.3,0.4,0.1]
for index in range(len(colors)):
    print(str(int(ratios[index]*100))+'%',colors[index])

20% red
30% green
40% blue
10% purple

In [74]:
for index , n in enumerate(colors):
    print(str(int(ratios[index]*100))+'%',colors[index])

20% red
30% green
40% blue
10% purple

In [76]:
for t in list(zip(ratios,colors)):
    print(str(int(t[0]*100))+'%',colors[index])

20% purple
30% purple
40% purple
10% purple

In [79]:
for t in list(zip(ratios,colors)):
       print(str(int(t[0]*100))+'%',t[1])

20% red
30% green
40% blue
10% purple

In [80]:
for r,n in list(zip(ratios,colors)):
    print(str(int(r*100))+'%',n)

20% red
30% green
40% blue
10% purple

In [81]:
for t in (zip(ratios,colors)):
    print(str(int(t[0]*100))+'%',t[1])

20% red
30% green
40% blue
10% purple

In [82]:
list(zip(ratios,colors))

[(0.2, 'red'), (0.3, 'green'), (0.4, 'blue'), (0.1, 'purple')]

In [83]:
s= 'Python provides an efficent and streamLined approach to data wrangling'
upper_case = []
for l in s:
    if l.isupper():
        upper_case.append(l)
upper_case

['P', 'L']

In [84]:
#pass
fruits

['Apple', 'Banana', 'Cherry', 'Orange']

In [85]:
for f in fruits:
    pass

In [87]:
#else
for f in fruits:
    print(f, end= ' ')
else:
    print ("\nDone Printing")

Apple Banana Cherry Orange
Done Printing