# Ramadan Abdunabi
## Week4 - 2/6/2024
### Built-in Data Structures - Python Dictionary {}

- Dictionary is a collection that is unordered and changeable.
- Dictionaries store data values in key:value pairs.
- No Duplicates - Cannot have two items with the same key
- Changeable - Can change, add or remove items after the dictionary is created using keys.

In [1]:
dct1 = {'k1':'value1', 'k2':'value2', 'k3':'value3'}

In [2]:
type(dct1)

dict

In [3]:
len(dct1)

3

In [4]:
dct1.keys()

dict_keys(['k1', 'k2', 'k3'])

In [5]:
dct1.values()

dict_values(['value1', 'value2', 'value3'])

In [6]:
dct1.items()

dict_items([('k1', 'value1'), ('k2', 'value2'), ('k3', 'value3')])

In [7]:
car = {'brand':"Toyota",'model':'Prius','year':2023}

In [8]:
car['brand']

'Toyota'

In [9]:
car['year']

2023

In [10]:
car['year'] = 2020

In [11]:
car

{'brand': 'Toyota', 'model': 'Prius', 'year': 2020}

In [12]:
cis_dict = {'no': 5, 'cis':[200, 240,340,310,350], 'crn':{'001', '002', '003', '004', '005' }}

In [13]:
cis_dict

{'no': 5,
 'cis': [200, 240, 340, 310, 350],
 'crn': {'001', '002', '003', '004', '005'}}

In [14]:
cis_dict['crn']

{'001', '002', '003', '004', '005'}

In [15]:
cis_dict['no']

5

In [16]:
cis_dict

{'no': 5,
 'cis': [200, 240, 340, 310, 350],
 'crn': {'001', '002', '003', '004', '005'}}

In [17]:
cis_dict['ins'] = ('Dr. Abdunabi', 'Dr. Leo')

In [18]:
cis_dict

{'no': 5,
 'cis': [200, 240, 340, 310, 350],
 'crn': {'001', '002', '003', '004', '005'},
 'ins': ('Dr. Abdunabi', 'Dr. Leo')}

In [19]:
cis_dict['no'] = 8

In [20]:
cis_dict

{'no': 8,
 'cis': [200, 240, 340, 310, 350],
 'crn': {'001', '002', '003', '004', '005'},
 'ins': ('Dr. Abdunabi', 'Dr. Leo')}

In [21]:
cis_dict['cis'][-2]

310

In [22]:
cis_dict['ins'][0].upper()

'DR. ABDUNABI'

In [23]:
cis_dict

{'no': 8,
 'cis': [200, 240, 340, 310, 350],
 'crn': {'001', '002', '003', '004', '005'},
 'ins': ('Dr. Abdunabi', 'Dr. Leo')}

In [24]:
cis_dict['cis'].append(413)

In [25]:
cis_dict

{'no': 8,
 'cis': [200, 240, 340, 310, 350, 413],
 'crn': {'001', '002', '003', '004', '005'},
 'ins': ('Dr. Abdunabi', 'Dr. Leo')}

In [26]:
cis_dict['college'] = 'COB'

In [27]:
cis_dict

{'no': 8,
 'cis': [200, 240, 340, 310, 350, 413],
 'crn': {'001', '002', '003', '004', '005'},
 'ins': ('Dr. Abdunabi', 'Dr. Leo'),
 'college': 'COB'}

In [28]:
dict2 = {}

In [29]:
dict2['fruit'] = 'apple'

In [30]:
dict2['number'] = 3

In [31]:
dict2

{'fruit': 'apple', 'number': 3}

In [32]:
dict2.keys()

dict_keys(['fruit', 'number'])

In [33]:
dict2.values()

dict_values(['apple', 3])

In [34]:
dict2.items()

dict_items([('fruit', 'apple'), ('number', 3)])

In [35]:
dict2['taste'] = ['Sour','Sweet','Salty','Bitter']

In [36]:
dict2

{'fruit': 'apple', 'number': 3, 'taste': ['Sour', 'Sweet', 'Salty', 'Bitter']}

In [37]:
#set
w = {'hello','hello','where','where','who','who','who'}

In [38]:
w

{'hello', 'where', 'who'}

In [39]:
dict2['words'] = w

In [40]:
dict2

{'fruit': 'apple',
 'number': 3,
 'taste': ['Sour', 'Sweet', 'Salty', 'Bitter'],
 'words': {'hello', 'where', 'who'}}

In [41]:
numbers = [10,5,20,56,80,90]

In [42]:
numbers

[10, 5, 20, 56, 80, 90]

In [43]:
dict2['n'] = numbers

In [44]:
dict2

{'fruit': 'apple',
 'number': 3,
 'taste': ['Sour', 'Sweet', 'Salty', 'Bitter'],
 'words': {'hello', 'where', 'who'},
 'n': [10, 5, 20, 56, 80, 90]}

In [45]:
del dict2['n']

In [46]:
dict2

{'fruit': 'apple',
 'number': 3,
 'taste': ['Sour', 'Sweet', 'Salty', 'Bitter'],
 'words': {'hello', 'where', 'who'}}

In [49]:
#nested dictionaries
dict3 = {'k1':{'k2':{'k3':'value1'}}, 'k4':{'k5':555}, 'k6':[66,55,10]}

In [50]:
len(dict3)

3

In [51]:
dict3['k4']

{'k5': 555}

In [52]:
dict3['k4']['k5']

555

In [53]:
dict3

{'k1': {'k2': {'k3': 'value1'}}, 'k4': {'k5': 555}, 'k6': [66, 55, 10]}

In [54]:
dict3['k1']['k2']['k3']

'value1'

In [55]:
dict3['k1']['k2']['k3'] = 'value22'

In [56]:
dict3

{'k1': {'k2': {'k3': 'value22'}}, 'k4': {'k5': 555}, 'k6': [66, 55, 10]}

In [88]:
myFamily = {
    'child1': {'name':'Jen','DoB':'01/01/2000'},
    'child2': {'name':'Alice','DoB':'06/01/2004'},
    'child3': {'name':'Bob','DoB':'10/16/2008'},
    'spouse': {'name': 'Jon', 'DoB':'12/20/1978','MD':'08/08/1998'}
}

In [59]:
myFamily

{'child1': {'name': 'Jen', 'DoB': '01/01/2000'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'child3': {'name': 'Bob', 'DoB': '10/16/2008'},
 'spouse': {'name': 'Jon', 'DoB': '12/20/1978', 'MD': '08/08/1998'}}

In [60]:
myFamily['child2']

{'name': 'Alice', 'DoB': '06/01/2004'}

In [61]:
myFamily['child2']['name']

'Alice'

In [62]:
myFamily['spouse']['DoB']

'12/20/1978'

In [63]:
# change the third child date of birth to '10/16/2000'
# Task completed by students

In [64]:
myFamily.get('child1')

{'name': 'Jen', 'DoB': '01/01/2000'}

In [65]:
myFamily.get('child1')['DoB']

'01/01/2000'

In [66]:
myFamily.pop('child3')

{'name': 'Bob', 'DoB': '10/16/2008'}

In [68]:
myFamily

{'child1': {'name': 'Jen', 'DoB': '01/01/2000'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'spouse': {'name': 'Jon', 'DoB': '12/20/1978', 'MD': '08/08/1998'}}

In [70]:
car

{'brand': 'Toyota', 'model': 'Prius', 'year': 2020}

In [72]:
car.popitem()

('year', 2020)

In [73]:
car

{'brand': 'Toyota', 'model': 'Prius'}

In [74]:
car.popitem()

('model', 'Prius')

In [75]:
car

{'brand': 'Toyota'}

In [76]:
back = myFamily.copy()

In [77]:
back

{'child1': {'name': 'Jen', 'DoB': '01/01/2000'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'spouse': {'name': 'Jon', 'DoB': '12/20/1978', 'MD': '08/08/1998'}}

In [78]:
myFamily['spouse']['name'] = 'Bob'

In [79]:
myFamily

{'child1': {'name': 'Jen', 'DoB': '01/01/2000'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'spouse': {'name': 'Bob', 'DoB': '12/20/1978', 'MD': '08/08/1998'}}

In [80]:
back

{'child1': {'name': 'Jen', 'DoB': '01/01/2000'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'spouse': {'name': 'Bob', 'DoB': '12/20/1978', 'MD': '08/08/1998'}}

In [81]:
back2 = myFamily

In [82]:
back2

{'child1': {'name': 'Jen', 'DoB': '01/01/2000'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'spouse': {'name': 'Bob', 'DoB': '12/20/1978', 'MD': '08/08/1998'}}

In [83]:
myFamily['child1']['name'] = 'Tom'

In [84]:
myFamily

{'child1': {'name': 'Tom', 'DoB': '01/01/2000'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'spouse': {'name': 'Bob', 'DoB': '12/20/1978', 'MD': '08/08/1998'}}

In [85]:
back2

{'child1': {'name': 'Tom', 'DoB': '01/01/2000'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'spouse': {'name': 'Bob', 'DoB': '12/20/1978', 'MD': '08/08/1998'}}

In [86]:
back2.clear()

In [87]:
back2

{}

In [89]:
myFamily

{'child1': {'name': 'Jen', 'DoB': '01/01/2000'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'child3': {'name': 'Bob', 'DoB': '10/16/2008'},
 'spouse': {'name': 'Jon', 'DoB': '12/20/1978', 'MD': '08/08/1998'}}

In [90]:
# rename key
my_dict = {'apple': 1, 'banana': 2, 'orange': 3}

In [91]:
my_dict

{'apple': 1, 'banana': 2, 'orange': 3}

In [92]:
my_dict['pear'] = my_dict.pop('banana')

In [93]:
my_dict

{'apple': 1, 'orange': 3, 'pear': 2}

In [94]:
my_dict.pop('apple')

1

In [95]:
# Casting and nested collections
# set
s = {1,30,12,'c','a',"alice","Jon",{1,2}}

TypeError: unhashable type: 'set'

In [96]:
s = {1,30,12,'c','a',"alice","Jon",(1,2)}

In [97]:
s.add(12345)

In [98]:
s

{(1, 2), 1, 12, 12345, 30, 'Jon', 'a', 'alice', 'c'}

In [99]:
ls = [2,3,4,5,{3,3,4},(3,4,5,6,7),['a','b','c'], {'k1':1}]

In [100]:
ls[-1]

{'k1': 1}

In [101]:
ls[-1]['k1']

1

In [102]:
my_dict = {0:'one', 1:'two', 3:'three'}
my_dict

{0: 'one', 1: 'two', 3: 'three'}

In [103]:
lst = ['one', 'two', 'three']
lst

['one', 'two', 'three']

In [104]:
s

{(1, 2), 1, 12, 12345, 30, 'Jon', 'a', 'alice', 'c'}

In [105]:
lst = list(s)

In [106]:
lst

[(1, 2), 1, 'a', 'Jon', 12, 'c', 'alice', 12345, 30]

In [107]:
tp = tuple(lst)

In [110]:
tp

((1, 2), 1, 'a', 'Jon', 12, 'c', 'alice', 12345, 30)

In [111]:
d = dict(s)

TypeError: cannot convert dictionary update sequence element #1 to a sequence

In [112]:
ls = list(my_dict)

In [113]:
ls

[0, 1, 3]

In [114]:
myFamily

{'child1': {'name': 'Jen', 'DoB': '01/01/2000'},
 'child2': {'name': 'Alice', 'DoB': '06/01/2004'},
 'child3': {'name': 'Bob', 'DoB': '10/16/2008'},
 'spouse': {'name': 'Jon', 'DoB': '12/20/1978', 'MD': '08/08/1998'}}

In [115]:
ls = list(myFamily)

In [116]:
ls

['child1', 'child2', 'child3', 'spouse']

In [117]:
ls = list(myFamily.values())

In [118]:
ls

[{'name': 'Jen', 'DoB': '01/01/2000'},
 {'name': 'Alice', 'DoB': '06/01/2004'},
 {'name': 'Bob', 'DoB': '10/16/2008'},
 {'name': 'Jon', 'DoB': '12/20/1978', 'MD': '08/08/1998'}]

In [119]:
ls = list(my_dict)

In [120]:
ls

[0, 1, 3]

In [122]:
ls = list(my_dict.values())

In [123]:
ls

['one', 'two', 'three']

In [124]:
my_dict

{0: 'one', 1: 'two', 3: 'three'}

In [125]:
ls = list(my_dict.items())

In [126]:
ls

[(0, 'one'), (1, 'two'), (3, 'three')]

In [129]:
tp = tuple(my_dict.items())

In [130]:
tp

((0, 'one'), (1, 'two'), (3, 'three'))

In [131]:
s = set(my_dict.items())

In [132]:
s

{(0, 'one'), (1, 'two'), (3, 'three')}

In [133]:
s = set(my_dict.keys())

In [134]:
s

{0, 1, 3}